In [1]:
print("Pakistn zinda bad") # function calling

Pakistn zinda bad

# Functions
we can create function for repeatating tasks.

* function core components
  * function declairation
    * function name
    * parameters
      * type (optional)
    * return type (optional)
  * function body
    * set of instructions
    * optional
      * doc string
      * type hints
  * function calling
* return function
* none-return function
* defualt function
  * not required any parameter declaire/calling time

* required parameter functions
* passing arguments
  * postional
    * list/tuple
  * key-value
    * dictionary

* unlimited-parameters function
  * postional
  * key-word


## predine-functions
* `print(), len(), id(), dir()`

## user-define-fucntion
* create your custom/ own function
* optional parameters

# Function type
* lambda function
* generator **function**
* recursive function
* decorator function

In [3]:
print("NED univserity")
print("City: Karachi")
print("Course : Data Science Batch-10")
print("Name : Muhammad Qasim")

NED univserity
City: Karachi
Course : Data Science Batch-10
Name : Muhammad Qasim

In [4]:
print("NED univserity")
print("City: Karachi")
print("Course : Data Science Batch-10")
print("Name : Asif Khan")

NED univserity
City: Karachi
Course : Data Science Batch-10
Name : Asif Khan

# function syntax
```python
def function_name(parameter1,parameter2,...):
  funtion_body

```

In [97]:
def info():
  print("NED univserity")
  print("City: Karachi")
  print("Course : Data Science Batch-10")
  print("Name : Muhammad Qasim")

In [18]:
def info()->None:
  """
  this function print university information
  not required any parameters
  """
  print("NED univserity")
  print("City: Karachi")
  print("Course : Data Science Batch-10")
  print("Name : Muhammad Qasim")

In [ ]:
info()

In [ ]:
print()

In [15]:
def info()->None: # function declairation
  print("NED univserity") # function body start, instruction 1
  print("City: Lahore") # instruction 2
  print("Course : Data Science Batch-10") # instrunction 3
  print("Name : Muhammad Qasim") # instruction 4, end body

In [12]:
info()
info()
info()
info()

NED univserity
City: Lahore
Course : Data Science Batch-10
Name : Muhammad Qasim
NED univserity
City: Lahore
Course : Data Science Batch-10
Name : Muhammad Qasim
NED univserity
City: Lahore
Course : Data Science Batch-10
Name : Muhammad Qasim
NED univserity
City: Lahore
Course : Data Science Batch-10
Name : Muhammad Qasim

In [24]:
my_var = info() # None-return function
print(my_var) # check variable value
print(my_var) # check variable value

NED univserity
City: Karachi
Course : Data Science Batch-10
Name : Muhammad Qasim
None
None

# Return Function and None-Return Function
## Return Function
* when we call this function it will return object(str,  int, list)
* we can assign this value to variable

# None-Return function
* exclude above two properties

In [20]:
my_var = print("Pakistan zinda bad") # None-return
print(my_var) # check variable value
print(my_var) # check variable value

Pakistan zinda bad
None
None

In [21]:
my_var = len("Pakistan zinda bad") # return function
print(my_var) # check variable value
print(my_var) # check variable value

18
18

In [22]:
my_var = id("Pakistan zinda bad") # return function
print(my_var) # check variable value
print(my_var) # check variable value

134320781312928
134320781312928

# required parameters/Arguments functions
* parameters: in function body/declairation
* arguments: calling time

```
# This is formatted as code
```

In [27]:
def add_two_numbers(num1, num2): # parameters num1 and num2
  return num1 + num2

In [28]:
add_two_numbers(1, 10) # arguments: 1, 10 , num1=1, num2=10

11

In [29]:
print(add_two_numbers(7,3))

10

In [30]:
add_two_numbers(20)

TypeError: add_two_numbers() missing 1 required positional argument: 'num2'

In [32]:
print(add_two_numbers(1, 10))
print(add_two_numbers("1", 10))

11

TypeError: can only concatenate str (not "int") to str

In [33]:
print(add_two_numbers_new(1,10))

11

In [31]:
def add_two_numbers_new(num1: int, num2 : int) -> int: # parameters num1 and num2
  return num1 + num2

In [ ]:
add_two_numbers(1, 10) # arguments: 1, 10 , num1=1, num2=10

add_two_numbers_new()

# # Optional parameters/Arguments functions

In [35]:
def add_numbers(num1, num2 = 0):
  return num1 + num2

print(add_numbers(3,7))
print(add_numbers(3))

10
3

In [36]:
print(add_numbers())

TypeError: add_numbers() missing 1 required positional argument: 'num1'

In [37]:
def add_numbers(num1 : int, num2 :int = 0)->int:
  return num1 + num2

print(add_numbers(3,7))
print(add_numbers(3))

10
3

# passing arguments

In [40]:
def add_numbers(num1 : int, num2 :int = 0)->int:
  print("num1 value", num1, "type", type(num1))
  print(f"num2 value {num2} type {type(num2)}")

  return num1 + num2

## postional Argument

In [42]:
add_numbers(3,7) # postional argument

num1 value 3 type <class 'int'>
num2 value 7 type <class 'int'>

10

In [56]:
l1 = [10, 20]

add_numbers(*l1) # * before list/tupe function calling time

num1 value 10 type <class 'int'>
num2 value 20 type <class 'int'>

30

In [54]:
#      0.  1
l1 = [10, 20]
a = l1[0]
b = l1[1]
print(a)
print(b)


print(add_numbers(l1[0], l1[1]))

10
20
num1 value 10 type <class 'int'>
num2 value 20 type <class 'int'>
30

### unzip

In [55]:
#      0.  1
l1 = [10, 20]
# a = l1[0]
# b = l1[1]

# a, b = [10, 20]
a, b = l1

print(a)
print(b)

10
20

## key-word arguments

In [45]:
add_numbers(num2=3, num1=7) # key-word argument

num1 value 7 type <class 'int'>
num2 value 3 type <class 'int'>

10

In [57]:
data1 = {"num2": 3, "num1": 7}


add_numbers(**data1) # ** double sterik before diction in function calling
# add_numbers(num2=3, num1=7)

num1 value 7 type <class 'int'>
num2 value 3 type <class 'int'>

10

In [ ]:
add_numbers(num2=3, num1=7)

In [46]:
def ned_student_card(id:int, name: str, fname: str, course: str, timing: str)->str:
  card : str = f"""
  NED University
  Student Id: {id}
  Name: {name}
  Father's Name: {fname}
  Course: {course}
  Timing: {timing}
  """
  return card

In [49]:
print(ned_student_card(1, "Muhammad Qasim", "Muhammad Aslam", "Data Science", "9 to 12"))

  NED University
  Student Id: 1
  Name: Muhammad Qasim
  Father's Name: Muhammad Aslam
  Course: Data Science
  Timing: 9 to 12

In [58]:
data1 = [1,"Qasim","Aslam","Data Science", "9 to 12"]

In [60]:
data1 = [1,"Qasim","Aslam","Data Science", "9 to 12"]

print(ned_student_card(data1[0], data1[1], data1[2], data1[3], data1[4]))
print("=====")

data1 = [1,"Qasim","Aslam","Data Science", "9 to 12"]

print(ned_student_card(*data1))

  NED University
  Student Id: 1
  Name: Qasim
  Father's Name: Aslam
  Course: Data Science
  Timing: 9 to 12

=====

  NED University
  Student Id: 1
  Name: Qasim
  Father's Name: Aslam
  Course: Data Science
  Timing: 9 to 12

In [51]:
print(ned_student_card(name=1, fname="Muhammad Qasim", id="Muhammad Aslam", course="Data Science", timing="9 to 12"))

  NED University
  Student Id: Muhammad Aslam
  Name: 1
  Father's Name: Muhammad Qasim
  Course: Data Science
  Timing: 9 to 12

In [50]:
print(ned_student_card(2, "Asif Khan", "Abid Khan", "Data Science", "9 to 12"))
#

  NED University
  Student Id: 2
  Name: Asif Khan
  Father's Name: Abid Khan
  Course: Data Science
  Timing: 9 to 12

### unlimited-parameters function
  * postional
    * `*` place before parameter (during declairation time)
  * key-word

In [67]:
def my_sum(num1,num3, *nums):
  print(f"num1 value: {num1} type: {type(num1)}")
  print(f"num3 value: {num3} type: {type(num3)}")
  print(f"nums value: {nums} type: {type(nums)}")
  return num1 + num3 + sum(nums)

In [69]:
my_sum(1,3,7,8,9,10,11,100,100)
# num1=1
# num2=3
# nums=(7,8,9,10,1)

num1 value: 1 type: <class 'int'>
num3 value: 3 type: <class 'int'>
nums value: (7, 8, 9, 10, 11, 100, 100) type: <class 'tuple'>

249

In [75]:
# * unlimited postional arguments
# ** unlimited key-word arguments

def my_sum(num1,num3=0, *nums, **args):
  print(f"num1 value: {num1} type: {type(num1)}")
  print(f"num3 value: {num3} type: {type(num3)}")
  print(f"nums value: {nums} type: {type(nums)}")
  print(f"args value: {args} type: {type(args)}")

  return num1 + num3 + sum(nums)

In [74]:
my_sum(1,3,8,9,10,id=20,name="Qasim",course="Data Science")

num1 value: 1 type: <class 'int'>
num3 value: 3 type: <class 'int'>
nums value: (8, 9, 10) type: <class 'tuple'>
args value: {'id': 20, 'name': 'Qasim', 'course': 'Data Science'} type: <class 'dict'>

31

In [76]:
def my_sum(num1: int,num3 : int =0, *nums: int, **args:str)->int:
  print(f"num1 value: {num1} type: {type(num1)}")
  print(f"num3 value: {num3} type: {type(num3)}")
  print(f"nums value: {nums} type: {type(nums)}")
  print(f"args value: {args} type: {type(args)}")

  return num1 + num3 + sum(nums)

In [77]:
my_sum(1,3,8,9,10,id=20,name="Qasim",course="Data Science")

num1 value: 1 type: <class 'int'>
num3 value: 3 type: <class 'int'>
nums value: (8, 9, 10) type: <class 'tuple'>
args value: {'id': 20, 'name': 'Qasim', 'course': 'Data Science'} type: <class 'dict'>

31

# Function type
* lambda function
* generator **function**
* recursive function
* decorator function

## Lambda function
* one line function
* without name function
* not used before this line
* not after this line

Simple function
```python
def function_name(par1,par2,..):
    function body

```

convert in lambda syntax
```pthon
lambda par1,par2 : function body

```

# Recursive function
* function call it-self in it body
* recursion (infinit)
  * we have to stop it at perticular point

In [79]:
def my_add(num1, num2):
  return num1 + num2

my_add(3,7)

10

In [80]:
abc = lambda num1, num2 : num1 + num2

abc(3,7)

10

In [81]:
# prompt: create list of tuple then sort with lambda function

# Sample list of tuples
data = [
    (3, 'apple'),
     (1, 'banana'),
     (2, 'cherry')]

# Sort the list of tuples using a lambda function as the key
sorted_data = sorted(data, key=lambda x: x[0])  # Sort based on the first element of each tuple

sorted_data

[(1, 'banana'), (2, 'cherry'), (3, 'apple')]

In [82]:
# prompt: create list of tuple then sort with lambda function

# Sample list of tuples
data = [
    (3, 'apple'),
     (1, 'banana'),
     (2, 'cherry')]

# Sort the list of tuples using a lambda function as the key
sorted_data = sorted(data, key=lambda x: x[1])  # Sort based on the first element of each tuple

sorted_data

[(3, 'apple'), (1, 'banana'), (2, 'cherry')]

# generator **function**
* run step by step
  * perform one step then stop
* when you run it again then it will take next step

In [84]:
def my_range(start, end, step=1):
  for i in range(start, end+1, step):
    yield i

In [85]:
l1 = my_range(1,10)

In [86]:
l1

In [91]:
l1 = my_range(1,10)

print(next(l1))
print(next(l1))
print("Pakistan zinda bad")
print(next(l1))
print(list(l1))

1
2
Pakistan zinda bad
3
[4, 5, 6, 7, 8, 9, 10]

# Recursive function
* function call it-self in it body
* recursion (infinit)
  * we have to stop it at perticular point

In [92]:
# prompt: create simple recursion function example

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

print(factorial(5))

120

In [93]:
# prompt: create simple recursion function example

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
#               5 * 4 * 3 * 2 * 1 * 1
print(factorial(5))
print(5 * 4 * 3 * 2 * 1 * 1)

120
120

# Decorator function

In [95]:
# prompt: create simple decorator function example with descrition in docs string

def my_decorator(func):
  def wrapper():
    print("Before function execution")
    func()
    print("After function execution")
  return wrapper

@my_decorator
def say_hello():
  """
  This is the function that will be decorated.
  """
  print("Hello!")

say_hello()

Before function execution
Hello!
After function execution

In [98]:
@my_decorator
def my_new():
  print("Pakistan zinda bad")

my_new()

Before function execution
Pakistan zinda bad
After function execution

In [99]:
# prompt: def my_decorator(func):
#   def wrapper():
#     print("Before function execution")
#     func()
#     print("After function execution")
#   return wrapper
# @my_decorator
# def say_hello():
#   """
#   This is the function that will be decorated.
#   """
#   print("Hello!")
# say_hello()
# convert in simple function approch

def my_decorator(func):
  def wrapper():
    print("Before function execution")
    func()
    print("After function execution")
  return wrapper

def say_hello():
  """
  This is the function that will be decorated.
  """
  print("Hello!")

decorated_function = my_decorator(say_hello)
decorated_function()

Before function execution
Hello!
After function execution