# Functions
we can create function for repeatating tasks.

* function core components
  * function declairation
    * function name
    * parameters
      * type (optional)
    * return type (optional)
  * function body
    * set of instructions
    * optional
      * doc string
      * type hints
  * function calling
* return function
* none-return function
* defualt function
  * not required any parameter declaire/calling time

* required parameter functions
* passing arguments
  * postional
    * list/tuple
  * key-value
    * dictionary

* unlimited-parameters function
  * postional
  * key-word


## predine-functions
* `print(), len(), id(), dir()`

## user-define-fucntion
* create your custom/ own function
* optional parameters

In [ ]:
print("NED University")
print("City: Karachi")
print("Course: Data Science Batch-10")
print("Student Name: Muhammad Sajid")

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid

In [ ]:
print("NED University")
print("City: Karachi")
print("Course: Data Science Batch-10")
print("Student Name: Muhammad Qasim")

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Qasim

# Function Syntax
```python
def function_name(parameter1,parameter2,...):
  funtion_body

```

In [ ]:
def info():
    print("NED University")
    print("City: Karachi")
    print("Course: Data Science Batch-10")
    print("Student Name: Muhammad Sajid")

In [ ]:
info()

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid

In [ ]:
info()
info()
info()
info()

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid
NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid
NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid
NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid

In [ ]:
def info()->None:
    print("NED University")
    print("City: Karachi")
    print("Course: Data Science Batch-10")
    print("Student Name: Muhammad Sajid")

In [ ]:
info()

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid

In [ ]:
def info()->None:
  '''
  This function is calling student information
  '''
  print("NED University")
  print("City: Karachi")
  print("Course: Data Science Batch-10")
  print("Student Name: Muhammad Sajid")

In [ ]:
info()

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid

# Return Function and None-Return Function
## Return Function
* when we call this function it will return object(str,  int, list)
* we can assign this value to variable

# None-Return function
* exclude above two properties

In [ ]:
my_var = ("Pakistan Zindabad")
print(my_var)
print(my_var)

Pakistan Zindabad
Pakistan Zindabad

In [ ]:
my_var = print("Pakistan Zindabad") # Non-return function
print(my_var) # Check Variable value
print(my_var) # Check Variable Value

Pakistan Zindabad
None
None

In [ ]:
my_var = len("Pakistan Zindabad") # return function
print(my_var) # Check Variable value
print(my_var) # Check Variable Value

17
17

In [ ]:
my_var = id("Pakistan Zindabad") # return function
print(my_var) # Check Variable value
print(my_var) # Check Variable Value

138474580263120
138474580263120

In [ ]:
my_var = info() # None-return function
print(my_var) # check variable value
print(my_var) # check variable value

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid
None
None

In [ ]:
my_var = ("Pakistan Zindabad") # return function
print(my_var) # check variable value
print(my_var) # check variable value

Pakistan Zindabad
Pakistan Zindabad

# required parameters/Arguments functions
* parameters: in function body/declairation
* arguments: calling time

```
# This is formatted as code
```

In [ ]:
def add_two_numbers(num1,num2):
  return num1 + num1  # We mentioned num1 two times - the result will be num1 add with num1.

In [ ]:
print(add_two_numbers(500,200))

1000

In [ ]:
def add_two_numbers(num1,num2): # Here we mentioned the num1 = 200 & num2 = 300, & add both parameters
  return num1 + num2

In [ ]:
add_two_numbers(200,300)

500

In [ ]:
print(add_two_numbers(200,300))

500

In [ ]:
add_two_numbers(200) # we only apply one argument in while calling the function. originally there are two arguments required as per parameters.

TypeError: add_two_numbers() missing 1 required positional argument: 'num2'

If function has two parameter defined so, above error is generated because we mentioned the one argument. it is called required functions- means what ever parameters are in the function the argument aslo required same.

In [ ]:
add_two_numbers(7,3) # here we passed two arguments- the results is true i.e num1 = 7 & num2 = 3 Total 10

10

In [ ]:
def add_two_numbers_new(num1: int,num2: int) ->int:
  return num1 + num2

In [ ]:
add_two_numbers()
add_two_numbers_new()

# optional parameters/Arguments functions
* parameters: in function body/declairation
* arguments: calling time

```
# This is formatted as code
```

In [ ]:
def add_numbers(num1, num2: int = 0) -> int: # This optional parameters/arguments functions
  return num1 + num2

In [ ]:
add_numbers(7) # By default num2 picked as zero value.

7

In [ ]:
add_numbers(7,3) # her we passed both values according to the parameters

10

In [ ]:
print(add_numbers(7,3)) # here we are calling print function.
print(add_numbers(3))

10
3

In [ ]:
add_numbers(7,3) # only given one result - because it is calling functions
add_numbers(3)

3

In [ ]:
# prompt: add_numbers(7,3)
# add_numbers(3)
# print(add_numbers(7,3))
# print(add_numbers(3))
# why it is given only one result

The code calls `add_numbers` multiple times, but only the explicitly printed calls will show output.  Let's break down why:


1. **`add_numbers(7,3)` and `add_numbers(3)` (no print statements):** These lines *execute* the function, but the return value is not used or displayed.  The function calculates 10 and 3 respectively, but the results are discarded.


2. **`print(add_numbers(7,3))`:** This line *executes* `add_numbers(7,3)`, which returns 10.  The `print()` function then displays this return value (10).


3. **`print(add_numbers(3))`:** This line *executes* `add_numbers(3)`. Because `num2` has a default value of 0, the function calculates 3 + 0 = 3.  The `print()` function then displays this return value (3).


**In summary:**  Function calls without `print()` or an assignment to a variable don't produce visible output in the console.  The code executes the function, but the result isn't displayed unless you explicitly use `print()` or store it in a variable.

3

# Passing Arguments

In [ ]:
def add_numbers(num1: int, num2: int) ->int:
  print("num1 value", num1, "type", type(num1))
  print(f"num2 value", num2, "type", type(num2))
  return num1 + num2

# Positional Arguments

In [ ]:
add_numbers(3,7)

num1 value 3 type <class 'int'>
num2 value 7 type <class 'int'>

10

# Un-zip

In [ ]:
l1 = [10,20]
print(l1[0]),
print(l1[1])
print(add_numbers(l1[0],l1[1]))

10
20
num1 value 10 type <class 'int'>
num2 value 20 type <class 'int'>
30

In [ ]:
l1 = [10,20]
a = l1[0]
b = l1[1]
a, b = l1
print(a)
print(b)

print(add_numbers(a,b))

10
20
num1 value 10 type <class 'int'>
num2 value 20 type <class 'int'>
30

In [ ]:
l1 = [10,20]
add_numbers(*l1) # Add * before list/tuple function calling time.

num1 value 10 type <class 'int'>
num2 value 20 type <class 'int'>

30

# Key-word Arguments

In [ ]:
add_numbers(num1=3, num2=7)

num1 value 3 type <class 'int'>
num2 value 7 type <class 'int'>

10

In [ ]:
data1 ={"num2": 3, "num1": 7}
add_numbers(**data1) # Double strik before dictionary in function calling.
 # add_numbers(num2=3, num1=7)

num1 value 7 type <class 'int'>
num2 value 3 type <class 'int'>

10

In [ ]:
def NED_student_card(id:int, name: str, fname: str, course: str, timing: str) -> None:
  card: str = f"""
  NED University
  Student Id: {id}
  Name: {name}
  Father's Name: {fname}
  Course: {course}
  Timing: {timing}
  """
  return(card) # it will give results in un-formatted form by calling NED_function_card.

In [ ]:
NED_student_card(1, "Muhammad Sajid", "Muhammad Zahid", "Data Science", "9 to 12") # Like this functions is calling but result is un-formatted.
NED_student_card(2, "Muhammad Qasim", "Muhammad Aslam", "Data Science", "9 to 12") # Like this functions is calling but result is un-formatted.

"\n  NED University\n  Student Id: 2\n  Name: Muhammad Qasim\n  Father's Name: Muhammad Aslam\n  Course: Data Science\n  Timing: 9 to 12\n  "

In [ ]:
print(NED_student_card(1, "Muhammad Sajid", "Muhammad Zahid", "Data Science", "9 to 12")) # Now we need print function to get result in formatted form.
print(NED_student_card(2, "Muhammad Qasim", "Muhammad Aslam", "Data Science", "9 to 12"))  # Now we need print function to get result in formatted form.

  NED University
  Student Id: 1
  Name: Muhammad Sajid
  Father's Name: Muhammad Zahid
  Course: Data Science
  Timing: 9 to 12


  NED University
  Student Id: 2
  Name: Muhammad Qasim
  Father's Name: Muhammad Aslam
  Course: Data Science
  Timing: 9 to 12

In [ ]:
def NED_student_card(id:int, name: str, fname: str, course: str, timing: str) -> None:
  card: str = f"""
  NED University
  Student Id: {id}
  Name: {name}
  Father's Name: {fname}
  Course: {course}
  Timing: {timing}
  """
  print(card) # it will give results formatted by just calling functions NED_student_card. because we used print(card) instead of return(card).

In [ ]:
NED_student_card(1, "Muhammad Sajid", "Muhammad Zahid", "Data Science", "9 to 12") # There is no need to call print function for formatted form.
NED_student_card(2, "Muhammad Qasim", "Muhammad Aslam", "Data Science", "9 to 12")  # There is no need to call print function for formatted form.

  NED University
  Student Id: 1
  Name: Muhammad Sajid
  Father's Name: Muhammad Zahid
  Course: Data Science
  Timing: 9 to 12


  NED University
  Student Id: 2
  Name: Muhammad Qasim
  Father's Name: Muhammad Aslam
  Course: Data Science
  Timing: 9 to 12

In [ ]:
NED_student_card(3, "Muhammad Qasim", "Muhammad Aslam", "Data Science", "9 to 12")  # There is no need to call print function for formatted form.

  NED University
  Student Id: 3
  Name: Muhammad Qasim
  Father's Name: Muhammad Aslam
  Course: Data Science
  Timing: 9 to 12

In [ ]:
NED_student_card(name=3, fname="Muhammad Qasim", id="Muhammad Aslam", course="Data Science", timing="9 to 12")  # There is no need to call print function for formatted form.

  NED University
  Student Id: Muhammad Aslam
  Name: 3
  Father's Name: Muhammad Qasim
  Course: Data Science
  Timing: 9 to 12

# Function Type
  * Lambda function
  * Generator Function
  * Recursive Function
  * Decorator Function

## Lambda Function

* One line function
* without name function
* not used before this line
* not after this line

simple function
'''python
def function_name(part1,part2,..):
    function body
'''

In [ ]:
def my_add(num1,num2):
  return num1 + num2


my_add(3,7)

10

In [ ]:
abc = lambda num1, num2: num1 + num2
abc(3,7)

10

In [ ]:
# prompt: create list of tuple then sort with lambda function

# Sample list of tuples
data = [
    (3, 'apple'),
     (1, 'banana'),
      (2, 'cherry')]

# Sort the list of tuples using a lambda function as the key
sorted_data = sorted(data, key=lambda x: x[0])  # Sort based on the first element of each tuple

# Print the sorted list
sorted_data

[(1, 'banana'), (2, 'cherry'), (3, 'apple')]

In [ ]:
# prompt: create list of tuple then sort with lambda function

# Sample list of tuples
data = [
    (3, 'apple'),
     (1, 'banana'),
      (2, 'cherry')]

# Sort the list of tuples using a lambda function as the key
sorted_data = sorted(data, key=lambda x: x[1])  # Sort based on the first element of each tuple

# Print the sorted list
sorted_data

[(3, 'apple'), (1, 'banana'), (2, 'cherry')]

# Generator Function

* Run Step by Step
*     perform one step then stop
* when you run it again then it will take next step.

Generator always remember the last function run.

"""python

function calling by yield and print(next())


"""

In [ ]:
def my_range(start, end, step=1):
  for i in range(start, end+1, step):
    yield i

In [ ]:
l1 = my_range(1,10)

In [ ]:
l1

In [ ]:
l1 = my_range(1,10)
print(next(l1))
print(next(l1))
print("Pakistan Zindabad")
print(next(l1))
print(list(l1))

1
2
Pakistan Zindabad
3
[4, 5, 6, 7, 8, 9, 10]

# Recursive Function

* Repitition of function.
* Function Call it-self in it body.
* Recursion (Infinite)
      * We have stop it at particular point.

In [ ]:
# prompt: create simple recursion function example

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

print(factorial(5))

120

In [ ]:
def factorial(n):
  if n == 0:
    return 1  # This will return (1) when zero value.
  else:
    return n * factorial(n-1)
#                    5 * 5-1=4 * 4-1=3 * 3-1 =2 * 2-1 = 1 * 1-1 = 0=1 (return 1) if value becomes zero.
print(factorial(5))

120

# Decorator Function

* append @ before function_name
* Design pattern will be same for every function.

In [ ]:
# prompt: create simple decorator function examples with description in docs string

def my_decorator(func):
  """
  This is a simple decorator function.

  Args:
      func: The function to be decorated.

  Returns:
      The decorated function.
  """
  def wrapper():
    """
    This is the wrapper function.
    """
    print("Before function execution")
    func()
    print("After function execution")
  return wrapper

@my_decorator
def say_hello():
  """
  This function prints 'Hello!'.
  """
  print("Hello!")

say_hello()


def repeat_decorator(num_times):
  """
  Repeats the decorated function a specified number of times.

  Args:
    num_times: The number of times to repeat the function.

  Returns:
    A decorator function.
  """
  def decorator_repeat(func):
    """
    Decorator function to repeat function calls.
    """
    def wrapper(*args, **kwargs):
      """
      Wrapper to execute function multiple times.
      """
      for _ in range(num_times):
        result = func(*args, **kwargs)
      return result
    return wrapper
  return decorator_repeat

@repeat_decorator(num_times=3)
def greet(name):
  """
  Greets a person by name.
  """
  print(f"Hello, {name}!")

greet("World")

Before function execution
Hello!
After function execution
Hello, World!
Hello, World!
Hello, World!

In [ ]:
def say_hello(): # Normal function calling.
  """
  This function prints 'Hello!'.
  """
  print("Hello!")

say_hello()

Hello!

In [ ]:
@my_decorator  # Calling Decorator Function.
def say_hello():
  """
  This function prints 'Hello!'.
  """
  print("Hello!")

say_hello()

Before function execution
Hello!
After function execution