# Linear Programming

In [1]:
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")

Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad

# Structure Programming

In [2]:
for i in range(10):
  print("Pakistan Zindabad")

Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad

In [ ]:
def student1_login(): pass
def student2_login(): pass
def student3_login(): pass
def student4_login(): pass
def student5_login(): pass

def student1_signup(): pass
def student2_signup(): pass
def student3_signup(): pass
def student4_signup(): pass
def student5_signup(): pass

student1_name = ""
student2_name = ""
student3_name = ""
student4_name = ""
student5_name = ""

student1_password = ""
student2_password = ""
student3_password = ""
student4_password = ""
student5_password = ""

student1_education = ""
student2_education = ""
student3_education = ""
student4_education = ""
student5_education = ""

# Object Oriented Programming - OOP's

* Class
* Objects
  * Methods
  * Attributes
* Encapsulation
* Inheritance
* Abstraction
* Polymorphisam

In [4]:
class Student():  # This is called function.

  def __init__(self, sid, sname):  # This is called Constructor Method under the function class.
    self.id = sid
    self.name = sname

In [14]:
class Student():

  def __init__(self, name, education): # Constructor Method.
    self.name = name # Attribute
    self.password = "" # Attribute
    self.user_name = ""
    self.login = False # Attribute
    self.education = education # Attirbute
    self.login = False # Attribute
    self.country = ""

In [15]:
obj1 = Student("Ali", "MS") # This is called Object-1
obj2 = Student("Sajid", "MSDS") # This is called Object-2


print(obj1.name)
print(obj1.education)

print()

print(obj2.name)
print(obj2.education)
print(obj2.country)

Ali
MS

Sajid
MSDS

In [16]:
class NedStudent(): # Remove self from attributes.

  def __init__(self, name, education): # Constructor Method.
    name = name # # Removed self. from Attribute
    password = "" # Attribute
    user_name = ""
    login = False # Attribute
    education = education # Attirbute
    login = False # Attribute
    country = ""

In [19]:
obj1 = NedStudent("Ali", "MS") # This is called Object-1
obj2 = NedStudent("Sajid", "MSDS") # This is called Object-2


print(obj1.name)
print(obj1.education)

print()

print(obj2.name)
print(obj2.education)
print(obj2.country)

# This function is not calling becuase we removed the extra word self. from attributes.

AttributeError: 'NedStudent' object has no attribute 'name'

In [38]:
class Student():

  def __init__(self, name, education): # Constructor Method.
    self.name = name # Attribute
    self.password = "" # Attribute
    self.user_name = ""
    self.login = False # Attribute
    self.education = education # Attirbute
    self.login = False # Attribute
    self.country = ""

  def signup(self, user, password): # Method # 1
    self.user_name = user
    self.password = password
    print("User Created")

  def loging(self, user, password): # Method # 2
    if user == self.user_name and password == self.password:
      self.login = True
      print("Login Successfull")
    else:
      print("Login Failed")

obj1 = Student("Ali", "MS") # This is called Object-1

In [ ]:
import datetime

In [ ]:
print(datetime.datetime.now())

2025-02-08 07:44:07.363435

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
print(Person("Sajid", 42))

<__main__.Person object at 0x7ba86a25de10>

In [ ]:
list = dir(object)
print(list)

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
# prompt: simple code in class and object

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"Name: {self.name}, Age: {self.age}"

person = Person("Sajid", 42)
person

Assignment to call all the method of object by using the Generative AI

In [ ]:
object1 = [method for method in dir(object) if not method.startswith('*')]
for function, method in enumerate(object1):
    print(f'{function+1}. {method}')

1. __class__
2. __delattr__
3. __dir__
4. __doc__
5. __eq__
6. __format__
7. __ge__
8. __getattribute__
9. __getstate__
10. __gt__
11. __hash__
12. __init__
13. __init_subclass__
14. __le__
15. __lt__
16. __ne__
17. __new__
18. __reduce__
19. __reduce_ex__
20. __repr__
21. __setattr__
22. __sizeof__
23. __str__
24. __subclasshook__

https://github.com/EnggQasim/NED-Batch10-python/blob/main/07-week-oop/oop1.ipynb


Shared by Sir Qasim

In [ ]:
df = pd.read_csv("Titanic-Dataset.csv")
display(df.shape)

NameError: name 'pd' is not defined