# Functions
we can create function for repeatating tasks.

* function core components
  * function declairation
    * function name
    * parameters
      * type (optional)
    * return type (optional)
  * function body
    * set of instructions
    * optional
      * doc string
      * type hints
  * function calling
* return function
* none-return function
* defualt function
  * not required any parameter declaire/calling time

* required parameter functions
* passing arguments
  * postional
    * list/tuple
  * key-value
    * dictionary

* unlimited-parameters function
  * postional
  * key-word


## predine-functions
* `print(), len(), id(), dir()`

## user-define-fucntion
* create your custom/ own function
* optional parameters

In [1]:
print("NED University")
print("City: Karachi")
print("Course: Data Science Batch-10")
print("Student Name: Muhammad Sajid")

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid

In [2]:
print("NED University")
print("City: Karachi")
print("Course: Data Science Batch-10")
print("Student Name: Muhammad Qasim")

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Qasim

# Function Syntax
```python
def function_name(parameter1,parameter2,...):
  funtion_body

```

In [3]:
def info():
    print("NED University")
    print("City: Karachi")
    print("Course: Data Science Batch-10")
    print("Student Name: Muhammad Sajid")

In [4]:
info()

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid

In [5]:
info()
info()
info()
info()

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid
NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid
NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid
NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid

In [9]:
def info()->None:
    print("NED University")
    print("City: Karachi")
    print("Course: Data Science Batch-10")
    print("Student Name: Muhammad Sajid")

In [10]:
info()

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid

In [23]:
def info()->None:
  '''
  This function is calling student information
  '''
  print("NED University")
  print("City: Karachi")
  print("Course: Data Science Batch-10")
  print("Student Name: Muhammad Sajid")

In [24]:
info()

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid

In [22]:
my_var = ("Pakistan Zindabad")
print(my_var)
print(my_var)

Pakistan Zindabad
Pakistan Zindabad

In [25]:
my_var = info() # None-return function
print(my_var) # check variable value
print(my_var) # check variable value

NED University
City: Karachi
Course: Data Science Batch-10
Student Name: Muhammad Sajid
None
None

In [27]:
my_var = ("Pakistan Zindabad")
print(my_var) # check variable value
print(my_var) # check variable value

Pakistan Zindabad
Pakistan Zindabad