# Zip and Un-Zip Functions

In [1]:
names = ["Jamal", "Hasan", "Zain", "Haris"]
fruits = ["Apple", "Mango", "Banana", "Guava"]
numbers = [11,21,31,41]
for name in names:
    print(name)
for fruit in fruits:
    print(fruit)
for number in numbers:
    print(number)

Jamal
Hasan
Zain
Haris
Apple
Mango
Banana
Guava
11
21
31
41

In [4]:
names = ["Jamal", "Hasan", "Zain", "Haris"]
fruits = ["Apple", "Mango", "Banana", "Guava"]
numbers = [11,21,31,41]
for name, fruit, number in zip(names, fruits, numbers):
  print(name, fruit, number)

Jamal Apple 11
Hasan Mango 21
Zain Banana 31
Haris Guava 41