In [3]:
# Zip  keyword

names= ["jamal","hassan","zain","haris"] #4
fruits = ["apple","mango","banana","guava"] #4
numbers = [10,31,54,78,90] #5

for i, j, k in zip(names,fruits,numbers):
    print(i,j,k)

jamal apple 10
hassan mango 31
zain banana 54
haris guava 78

In [4]:
i

'haris'

# File Handling

In [7]:
file = open(r"C:\Users\najee\Desktop\pgd b10\news.txt","r")
# open(file_path, mode (r,w,a)  if you are pasting the whole path then you must add r string
contents = file.read()
file.close()
print(contents)

US President Donald Trump on Saturday ordered sweeping tariffs on goods from Mexico, Canada and China, demanding they stanch the flow of fentanyl â€” and illegal immigrants in the case of Canada and Mexico â€” into the United States, kicking off a trade war that could dent global growth and reignite inflation.

Mexico and Canada, the top two US trading partners, immediately vowed retaliatory tariffs, while China said it would challenge Trump's move at the World Trade Organisation and take other "countermeasures."

Canada, Mexico order retaliation against US tariffs as China to challenge Trump's move
By ReutersFebruary 02, 2025
The Port of Oakland is seen at 12.01pm EST as US President-elect Donald Trump is inaugurated for a second term, in Oakland, California, US, January 20, 2025. â€” Reuters
The Port of Oakland is seen at 12.01pm EST as US President-elect Donald Trump is inaugurated for a second term, in Oakland, California, US, January 20, 2025. â€” Reuters
US President Donald Trump on Saturday ordered sweeping tariffs on goods from Mexico, Canada and China, demanding they stanch the flow of fentanyl â€” and illegal immigrants in the case of Canada and Mexico â€” into the United States, kicking off a trade war that could dent global growth and reignite inflation.

Mexico and Canada, the top two US trading partners, immediately vowed retaliatory tariffs, while China said it would challenge Trump's move at the World Trade Organisation and take other "countermeasures."

In three executive orders, Trump imposed 25% tariffs on Mexican and most Canadian imports and 10% on goods from China, starting on Tuesday.

He vowed to keep the duties in place until what he described as a national emergency over fentanyl, a deadly opioid, and illegal immigration to the US ends. The White House provided no other parameters for determining what might satisfy Trump's demands.

Responding to concerns raised by oil refiners and Midwestern states, Trump imposed only a 10% duty on energy products from Canada, with Mexican energy imports facing the full 25% tariff.

A White House fact sheet said the tariffs would stay in place "until the crisis alleviated," but gave no details on what the three countries would need to do to win a reprieve.

In [10]:
file = open(r"C:\Users\najee\Desktop\pgd b10\news.txt","a") # a = append
# data = '''
# My name is Jamal
# I work in the field of AI

# '''
file.write('''My name is Jamal
I work in the field of AI''')
file.close()

In [11]:
# write : overwrites the exitsting content in the file
# will create a new file if the file name does not exist

write_mode = open(r"C:\Users\najee\Desktop\pgd b10\news.txt","w")
write_mode.write('''At nearly $100 billion in 2023, imports of crude oil accounted for roughly a quarter of all US imports from Canada, according to US Census Bureau data.''')
write_mode.close()

In [13]:
write_mode = open("news_2ndFEB2025.txt","w")
write_mode.write('''Canada's Trudeau announces tariffs on US in retaliation
Canada will retaliate against President Donald Trump's new tariffs by imposing 25% tariffs US goods from drinks to appliances, Prime Minister Justin Trudeau said on Saturday.''')
write_mode.close()

In [16]:
# converting image to base64

import base64

# Encode the image to a base64 string.
with open("image1.jpg", "rb") as img:
    s = base64.b64encode(img.read())

print(s)

# Save the encoded string to a file.
# with open('encode.bin', "wb") as f:
#     f.write(s)

b'/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUSEhIVFhUVFRUXFRUXFRUVFRUXFRUXFhUVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGy0lHyUtLS0tLS0tLS0tLS0tLS0tLS0tLS0rLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAMIBAwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAACAAEDBAUGBwj/xABBEAABAgMFAwkFBgUEAwAAAAABAAIDBBEFEiExQVFhcQYTIjKBkaGx0RRCUpLBByNDU+HwFTNigrJyosLSJCVE/8QAGgEAAwEBAQEAAAAAAAAAAAAAAAECAwQFBv/EACoRAAICAQMEAQQCAwEAAAAAAAABAhEDEzFRBBIhQWEUMnGhgZEi4fBC/9oADAMBAAIRAxEAPwDUbFUzIiz2vU7Ii+nPnS6CnLAq7IisMiBIpFaZmIbHNY97WufgwE0LjhgNuY71I6Cua5VvBnJIbH173s9F1tVMZW2jVxSSfJRdCQ82VcLErioiijzaV1XSxA6GgCqQhLVO5iBwQMgonRlMkANUk5TIAVUkyVUAJIpqpVSAYhMnqkgBgEi1ElVMCItQFqs0QOalQFYhAVYcFGWqaGRJJ3NQlACRtUV5A6YaM3NHaErFRbqkqPt8P8xnzN9U6fcg7WaIKNrlCEYV2RRZa9TNiKo0qQFOwo57lCA+elWnEdE/76/RdcHrjrTdW0IG5rfNy6xrllj3l+Taf2x/BOHIg9QVTXloZljnEr6gvJi5A7JnEISAqr5tgze0doUT7SYMak8GuP0StDplt0JRuhqsbS2Md/tH1Uf8RcSQGDDa70CO5BTLZagKpxpuJQmrBQfCT9UL3PP4h7A0fRLuCi4SnCyXjpCr3UofeI1Gym9A+JBHWc3+51fMqe8faaz3gZkDiQojNQ/jb2EHyWXDm4Lbxq0Y4UG4bEnW1BBpeJ4NKnUXJWm+GaPtjNKng1x8aJe17GPPYB5kLJh21DAydroNTXagdb7dGHtICWrHkelLgtWjbLoZhtEI1e6mLgMMAThXarhjxPgb85/6rk7WtPnHwnXaXDXOtcQdm5XX8oH6Mb4lRrK35NHhdKkb4jRP6B2OP1CGFGiOaCXNFQDgzbxK5825F2N7j6qD+LxQAA7IAdUaI14/ItCXwdOWuP4juwM/6qCOw0/mPzaMwM3AaDeubfa0X8zwb6KB9qPOcU6e9TLFS+oiUsEvg6t0sNr/AJ3+qjdKN2V4knzK5N1pu1jH5z6qB9oDWL/v/VS+ojwPQlydXMyrAOo3rM90fG1FdYNGjuC4x06zV470BnYfxBT9SuCtB8nbCM34m94SXEe3w/i8Ckj6pB9Mz1BrVK0Ko6dHutccSK0oMMNcfBRNtJxFbrW55ku17F2d6OLsZp3EfNrnzawp0o1NzaDXdiq38XhAY3nmpzFdTTFxUvNFFrFIGfit/iMM1BAaKkY6O2cV0JtFlaAOPZTzpsXCTE//AOTzrQBSmBOFLtMVNG5S4k32NwAwxyrx2rBZ1G/ydEsLlVcHZPtJ2FGDE0xduJyA3bUMSciUPSaODfUlcDH5SV/EeeAI9FTiW6D7rzxKl9XEa6VnoJnBQX42g94DwbRVfb4IredexOdXea4F1tO0YBxJKida0U5EDgPVZvq0aLpfk751rww4EA5EZAaj0UUa2qggMOIzJXAunopzeeyg8lE6K85vd8xUPq5FrponexrcfoGDjU/VVn26R+KwVz6q4ct3pUCh9TMpYII6+JygBzjd36BV328w5xHn5lzOCIEKHmkytKKN023D2OPYPVQRLYafcPeAsi8nv7lLyS5K7UajrbOkPx/RRG2Hk1ut8Vn3k15LvfI+1F82vF/pHZ+qiNqRfiHcFTL1LLSznnDAbSl3SY6SLsrMvdeLnE0GGWGaqOmYnxu71chSroYdU1qPIFZF87VUm0lYopWywYrz77vmKA12nvKivb0r29Z2VRIWpXFHe3pXt6LQElxNdQXt6aoSsA7qVEFU1UDDSQJIA6aJymdkHvIxwGGaoxbaJyb3mqyXVGYp2K7K2RMxac3Lxng5FsN5B7QKLV5ZszWOKHdacU6gcB6qF8285vd308luy3IC0X//ACuaNr3Mb4F1fBasv9lc4eu+Cz+5zz4CnihQyS9MLijmHH7jHHAf5LOBGQC7aS5KX5kyLonVqC9rfhAfgD3Lei/ZpLwob4hiRXFjHOFS0CrQSMANy1eCcvKI1Io8viMc3NtFHzi13MvPAK9a5IWHLmUhPdAhXiDV3Ntqbri0E4Z0AUwwd73KlOkeHtcTljwxViHIxndWFFPCG8+QX0OyQhjqta3gAPJOZUaFbro17l+jJ9Q+DwSFybnHZS0Xtbd/yorkHkTPO/Au/wCp7B5Fe3ex71G+XIWi6PH7bIfUT4R5BD+z6cOfNN4vJ8mq2z7OI+saGOxx9F6gYaa4rXSYjN9RkPNWfZu73plvZDP/AGVhv2ds96Yd2MA8yV6AYaB0JWumxcEvPk5OHb9n0DWNFPyD/ipW8hJUZmIf7gPILr3y5UZgFVoY+ES82Tk5dvIuUHuOPF7vVSt5Kyg/BB4uefqugME7FG+EdielBf8Alf0TqT5Z5/yss2FDcxkOExoIvEgdI40pU6LMgMoui5Ws++b/AKB/kViFtFw5UlN0duNtwVhSlHRWAioL2g1yNSMF3IsaX/IhfI30XE2e086w0NA9tTTLEZrvhFrkVv09V5MOou1RD/CoH5MP5G+icWbCGUJnyN9FLziXOLp8HNbAEmwfhs+Vvoi5hvwN+UIg9NeT8C8kT4DfhHcFGYI+EdwVhz1EYiQEBhDYO5A5o2DuUr3qB7khg0GxJBfToKPPJOapQGjhqHCoXvPJa0YcSWhCC5hDYbGljXVuENHRpmKb186McQtGRmqEEEhwyoaHsK8vDlrwz0pwvY+lBFOrSjERuoPcvKbC5cRGgMjuJ2P1/uGvELsJe3i4AtcHA5EEEd67YpS2Od5HDcwrBLXW3HJyrF8GgLubegM9ljkOGEGKc/6CvNOT05/7OM/aY3i5dhbtpVlo4pnCeO9pChQbVpmmrFeGjx2Az70dvkvcOSMi4yUE7Wk97nLxKCPvO/yXvXI21ILZOA1xIIhgHvKwUpRVxVm0Ywl9wcWVcNFWc0hdPDnoB98dp/RRTMOC4Gj25HUJrrGvuixvpYy+1nOXynBqteXsUuY01rVrSTUYkgJ28noh2Barq8T9mEulmuP7MgQWnN1EDpRvxeC05mxIjMcKcVTiSjwKnLcQrjnhLaQngml9pTfLbCoXQyp4cStc8HOHyuI+ieq2UjBxKbhTNc1OctJdjyzpOdWlACezAZ7l0NvxbkvFcNIbvEU+q8ZsUF05AO2agjtMVqxy5nGki4YU7bPQonLSC3rMiN/1NiN/4IWcupM5xKdjj9AvU5q1oTP5sVjMD1ntGVNp3rIm+U8lj982JuY0xP8AEFLVn7MU4vZfv/R5Pb1ry8eIHsjwwA0DpG6agk7N6zbw/DfCiO0AiMJ7ASF6Pa3KyVdDiXJWM+jX9ISxo0hp6xI6NN68SlJF7wLsMuHSxFM6CnYDQ9q5s0v5vg7Ond/FcnQR5qO3Bwodl5vqgg2rFYauqNmzvGCll4pENojwiXBscFxbUkvggQana2ICSScjhveM6WdQ3aU9lvNHOUeOaPtNKnCkQCmOtQs9NbpnTrS2aNKS5RmoBxXUyMwyIKtOOo1XAWvZjIR52XfzkA6+9DJ914zpsd2Z5yWbahaQQVcM88cql5Rlk6eGVXHwz0MtCjdRVbOtVsUAOIDvA/qrT4S9GM1JWjzZwcHTI3FROcjewqFzSnZBG9QuUzmKJzUWUiIhJOWJJWM8uupBh0R0T3V4h6xalJwjB1ePqteStN0I3oURor1mEi47iNDvCwHEjA6d6d0QZEVWscjRDimddYlosbHdFiODA69nUgFxrTBbloW/CfDexsVjrzaAAnGumK4GcfRg4jyUMlE6YW31EovtMXhUv8jahGj68V6NYU63mYYBGDQKVFe5eZQndJUph/TdxKazafmhyh3qj3FkxsIRR5g3HYjqu8ivEIVoRG9WI8cHH1V2BykmWggRnEEEEHHPDVV9XF7ojSktme0StpRGMh3YhAuitNgYT9Ffba8Yj+aacV49L8r5kgNowgCgN0jS7nXYVsSlvx2t6QZid/RqqWnLzX6Kcsi9/s9LdbMSoBfXjQ5dihbaTntaXAHAHZpuXm8zylmIeIgg4HGpcMdcMVlO5ZzQ6ILW0FMGbOKl6UHt+ilkytbnqchMAgm43+ZF20/mO3q06K34G9lcPFeNt5VTQFBE1J6ozcST4kpjypmvzT3BJ5Y/ILu+P+/g9G5YPHscamHQ/wCQXiTI1Dhh0ga8FvzNvR4jSx8QlrhQjaCsYQQHXgTWtdPIhZZMik1RUFV2d3yM5Tuh820ycCIWuvc5cbDe7Aj7x4bV3W639IXodoct3NbSHKseQAS0Rrufw1ZQjTTgvEYFrRmCjXgb7jSTxOqJ1uTBcHc4Kg1HQHaDjiCr78bXm7M+yV+qOutLla8QZ1ns1OfhxHvcX05rnbsGg6PTIMRuyq4+ybXcWCHXqgUbXQNa0kcbor2KxEtKZiQojCYZZFbdd0MaXg7CrsDVoWDEk3swrpuHvXtu1Z5ZW7Rthj27I6yHOjEmmynqijNbFhuY0Ma4lpvXRXotutbezDabFyDJpwwNVrSM5vUKbNmkwTFfBddNWu8CNu8KN/XvgNxNcAAOwDALfZEZFbciAEeI3g6KOXshrDVrrw0rmPVLtfoffyKTJbpSvfxXTWdaAc033AEGmJAJwWLDhAKrOzMGFR0WGXVwBArTWmY/YXRhfYzlzrvR1Tpxnxt+YKF89D/MZ8wXJm2ZL8o/L+qibacnUkwjQnDDIUGGe2q6HmXKOXRfDOrdPw/zGfMFE6eh/mM+YLnf4hJH3D3H1Q+2SXw+DvVPWXKDR+GdD7bD/MZ8wTLlI0eDU3G9HTPZvSRq/grRRgpqp0l5R2iqmJTp0AXZ7qdo8lTlzRwVyc6vaqbYZOQWmR/5Ex2NWCTezVOI7pHiVPKSsTs2nTtVhsOGzHruPY2vDMq3FyQivBlS7HIbTkO3RXJSUaTdaL51PVYPVTQ5Z0SheaN2ZDsGi0oMJrRQCg2K4YkJsKVlmtpUgny4BWXsF2pINTSm7eocUUUdED97V0bGZFLT3Nu5t+Veic+yqtTEtCfmBXxWbNwA9u8DBRSE17jzSmAJ03FTdeGDj7RJMWKPccsuPIPbpXgugLCkW7aeKiWOLGm0cs4EZ4ISV0kWUB2fTuWfHsvZ4ehWTxP0WpGUSgc9WY0k4frgfRU4rHNzBHFZNNDNaTxhgba+ahiSRPv94RyXUbw+qsBq2UU0rBSa2MWLLOaK4FNDiq9OdU8CqMkytWniFnOPbsaRne5el5srYkZorEbDpmrkudiUbKZvONRULIt+HWEf6SD9D4Eq1AjqSZaHtLdoI71pdoiqOISRubQkHMYdyEjisBjVTI7mFajhqmLaIAaqSV07EkAFROAk1pOSmhypOaEmxEKlhy7jotCWkt1FYL2NGGJ8FosftkuRAyATm3D+rJSMaxlddmzuUMSYLslLKyZcan98Fru/BIrz34DL95K5LSYbic1PDhhuSkatFHkViDalTA70NUTFYgnORPOlUzcwiedd6YiOFnQ5VxWfPS9017/VXr9CmigFvfVTJWh+yGz5z3HHgdm4rQcxYMaEWGh7CtCz56nQecND9CpT9MUl7RcomIUxHBB2KiUyJ8MHNV3yDTkSPEdyuUTUSKsyYkg4ZCu8YeCrxQ7IZ7xkt2m9C+GDmKqe0dnOCWeAbwOOZoT3FQl4YcG04710RladVxHkq0eVJ6zQ4bvRTKHgaZlkVxGzzTQ41FYMINwFeB0VWZGqwppm92rL0OYBVnncFhQ4i0pSJXBOwRl2m0CITTB2Pr4gqrfW9asnVl6mLcezVc/UaKWIR4pJBqIsOqkACkjpuSRQGtCljwG/0U19jcsT4KlEmr2xAwErotLYyrknjzZO/cMkDIZdn3KSBL1+pWnLQQPVNRcgbohl5Qa93qVdGCEu2J2rVKtiRBShBgnqEwDClwUTQEWCYBsKTm4JoYSdT9lAEUQIxTvQPI3pg5AATLAWka5grMbhgteI3IqlPQ6UcNcCs5oaLNnztOi/LQ7NxWoQuZBWhZ87SjHZe6dm7gnGREo+0apagJRlROIVEoFyCqdzkJckaBBKiEO3FIRNoKBDRIQOYqsGcgFjqHqnqnbu4roL+4qCZbfaW3c+GB0KmcVJFxlRzrmURwYtEEQEEg6KJ76YrlNjaE4LtDsXLRQA43cq4I48yThooFLdgWoMbClBVSXwesO5UmlXYMFzhVpB2jUJptksFqSPm3/CknQrLENgCtwYFc8E8GFRXGLojEybDhsoETnIC9NVaCJAjUbUSYBApwMUCNqBkgTOTApJgGMkxTAYJVQMYoaJ6oSkIkYcKIDsOSBgocyiiYpbobpbGXF6LiMfOo0oU4NVejQS4YYEZbCs5rjlszCy2Ga1nWgB0H5aHZuK1HN1C5daNmWjd6Dzhodm47lal6ZEo+0aLmoCp4p2KBzVVCTEkhSLkFDOw1UbphoBNRgCTQg5LmrfjOdFLScG0oNMQDVZSxlmp1RahZdiT16rnZkk9+XoqkSISgTLnbs1HTJJJAOFPKRbrt2qgSCE6A6AX9/gUljMmngUDiANKpLXvRn2M6NtAjqoaowV0mIaJqEIkDCqiqgqkgCQFGComoqp2MkqnaVGSnqnYElUJKYlAShgHVCU1UxKQBEolHWiJpQATTjRVJ+X98dqsOUzTUKZIEzGBTlHMwrrs8Dko1BRo2daF2jXnDQ7NxWs81xXMFXZGfu0a7q6buO5WpckuPs1HBAVKUDgqEjnOU8DFsQZdU8cx9VgrupmA17S1wqD+6rkbSs50I44tOTvodhXNlj5s2hL0Ukk6ZYliSSSQA6SZJADpJJIA6cImqJpUgK7jlJAU4KjBRBABpwgLkQQMkqmvJkNUAHeTtKjRNQMkLk1VG12CeqACqmKZMSkATk9VHVOCnYEtULX0KZpTOQAc3CvimG0LGD6GhzGe7sWpmRj44dyhn5Udcf3Z96zZSKockkPHwTEoAuyE+W0Y7q6HZ+i1S5c24K7Z09d6DurodicZciaNYqtOQBEY5m0YbjoVaoOwoHBW0JM4SIwgkEUINCEK2uUctRwiDI4HiMvDyWKuKUadG6doSSSSQxJJJIASdMkgDpGo0kl3ejlDCcJJJAJqkakkmN7iKYJJJAOnH0SSQgBZkERSSQMRTFJJADJgkkl7AdqJJJMGCM+1WH5HgkkpYIxmnopN1SSUlMYpzkmSSGbMgehwOCsOSSWsdjMzLcH3Lv7f8guWSSXPm3NobDJJJLEsSSSSAHSSSTA/9k='

In [17]:
import base64  # For decoding.

f = open('encode.bin', 'rb')  # Open encoded file.
byte = f.read()  # Read data.
f.close()

decode = open('stringtoimage.png', 'wb')  # Open image file to save.
decode.write(base64.b64decode(byte))  # Decode and write data.
decode.close()

image -> base64 encode -> save in a file
read base64 string from file -> decode into a image type -> save

In [18]:
# Pandas

In [ ]:
! pip uninstall pandas

In [19]:
import pandas as pd
# read file .xlsx (Excelfile) .csv
data = pd.read_csv(r"C:\Users\najee\Desktop\pgd b10\pakwheels.csv")

In [29]:
# to view the data
display(data.head()) # returns first five rows of the data

,Unnamed: 0,ad_url,title,location,model_year,price,mileage,engine_type,transmission,registered_in,color,assembly,engine_capacity,body_type,ad_last_updated,car_features,description
0,0,https://www.pakwheels.com/used-cars/honda-civi...,Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007,Islamabad Islamabad,2007.0,PKR 16.5 lacs,"100,000 km",Petrol,Automatic,Lahore,Grey,Imported Cars,1800 cc,Sedan,"Oct 09, 2022",ABS\nAM/FM Radio\nAir Bags\nAir Conditioning\n...,2007 model full option Chat piller geniune or ...
1,1,https://www.pakwheels.com/used-cars/suzuki-meh...,Suzuki Mehran VX Euro II 2012,"Eden Gardens, Faisalabad Punjab",2012.0,PKR 7 lacs,"100,000 km",Petrol,Manual,Faisalabad,Grey,Imported Cars,800 cc,Hatchback,"Oct 09, 2022",AM/FM Radio\nCD Player\nImmobilizer Key,"Very smooth drive,70% in orignal paint rest of..."
2,2,https://www.pakwheels.com/used-cars/honda-civi...,Honda Civic EX 1995,"Bostan Road, Rawalpindi Punjab",1995.0,PKR 7.6 lacs,999 km,Petrol,Manual,Lahore,Black,Imported Cars,1500 cc,Sedan,"Oct 09, 2022",AM/FM Radio\nAir Conditioning\nAlloy Rims\nCas...,1600cc Engine installed Alloy RimsAir Conditio...
3,3,https://www.pakwheels.com/used-cars/toyota-for...,Toyota Fortuner 2.7 VVTi 2013,"Kallar Kahar Road, Chakwal Punjab",2013.0,PKR 70 lacs,"94,000 km",Petrol,Automatic,Lahore,Black,Imported Cars,2700 cc,SUV,"Oct 09, 2022",ABS\nAM/FM Radio\nAir Bags\nAir Conditioning\n...,Inside out fully original. Original return fil...
4,4,https://www.pakwheels.com/used-cars/suzuki-meh...,Suzuki Mehran VX Euro II 2015,Muzaffar Gargh Punjab,2015.0,PKR 8 lacs,"86,000 km",Petrol,Manual,Multan,Grey,Imported Cars,796 cc,Hatchback,"Oct 09, 2022",AM/FM Radio\nCD Player\nImmobilizer Key,gari total genion hy.chill a.c.new tires.no wo...

In [25]:
data.shape

(89956, 17)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89956 entries, 0 to 89955
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       89956 non-null  int64
 1   ad_url           89956 non-null  object
 2   title            89956 non-null  object
 3   location         89954 non-null  object
 4   model_year       87449 non-null  float64
 5   price            89954 non-null  object
 6   mileage          89954 non-null  object
 7   engine_type      89001 non-null  object
 8   transmission     89954 non-null  object
 9   registered_in    89954 non-null  object
 10  color            88093 non-null  object
 11  assembly         89956 non-null  object
 12  engine_capacity  89954 non-null  object
 13  body_type        81407 non-null  object
 14  ad_last_updated  89954 non-null  object
 15  car_features     83435 non-null  object
 16  description      89954 non-null  object
dtypes: float64(1), int64(1), object(15)
memory usage: 11.7+ MB

In [27]:
type(data)

pandas.core.frame.DataFrame

In [40]:
data.isnull().sum() # check null values in the data

Unnamed: 0            0
ad_url                0
title                 0
location              2
model_year            0
price                 2
mileage               2
engine_type         955
transmission          2
registered_in         2
color              1863
assembly              0
engine_capacity       2
body_type          8549
ad_last_updated       2
car_features       6521
description           2
dtype: int64

In [44]:
print(data["body_type"].unique())
data["body_type"] = data["body_type"].str.replace('Double Cabin','Double__Cabin')
print(data["body_type"].unique())

['Sedan' 'Hatchback' 'SUV' 'Mini Van' 'MPV' nan 'Double Cabin'
 'Compact sedan' 'Pick Up' 'Van' 'Micro Van' 'High Roof' 'Compact SUV'
 'Station Wagon' 'Crossover' 'Coupe' 'Subcompact hatchback' 'Convertible'
 'Truck' 'Off-Road Vehicles' 'Single Cabin' 'Mini Vehicles'
 'Compact hatchback']
['Sedan' 'Hatchback' 'SUV' 'Mini Van' 'MPV' nan 'Double__Cabin'
 'Compact sedan' 'Pick Up' 'Van' 'Micro Van' 'High Roof' 'Compact SUV'
 'Station Wagon' 'Crossover' 'Coupe' 'Subcompact hatchback' 'Convertible'
 'Truck' 'Off-Road Vehicles' 'Single Cabin' 'Mini Vehicles'
 'Compact hatchback']

In [39]:
data["model_year"].fillna(2000,inplace = True)
mdy = list(data["model_year"].values)
mdy

C:\Users\najee\AppData\Local\Temp\ipykernel_24880\3550201434.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["model_year"].fillna(2000,inplace = True)

In [49]:
data["ad_url"].iloc[1010] # integer location, access values using indexing

'https://www.pakwheels.com/used-cars/suzuki-margalla-1993-for-sale-in-islamabad-6722572'

In [33]:
data.describe()

         Unnamed: 0    model_year
count  89956.000000  87449.000000
mean   44977.500000   2012.861576
std    25968.204745      7.669485
min        0.000000   1990.000000
25%    22488.750000   2007.000000
50%    44977.500000   2015.000000
75%    67466.250000   2019.000000
max    89955.000000   2022.000000

In [52]:
data.columns

Index(['Unnamed: 0', 'ad_url', 'title', 'location', 'model_year', 'price',
       'mileage', 'engine_type', 'transmission', 'registered_in', 'color',
       'assembly', 'engine_capacity', 'body_type', 'ad_last_updated',
       'car_features', 'description'],
      dtype='object')

In [57]:
car_types = data[['engine_type', 'transmission', 'registered_in', 'color','model_year','body_type']]
# filter the data

In [58]:
car_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89956 entries, 0 to 89955
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   engine_type    89001 non-null  object
 1   transmission   89954 non-null  object
 2   registered_in  89954 non-null  object
 3   color          88093 non-null  object
 4   model_year     89956 non-null  float64
 5   body_type      81407 non-null  object
dtypes: float64(1), object(5)
memory usage: 4.1+ MB

In [60]:
car_types.to_excel("newexcel_2.xlsx", index=False)

In [ ]:
import pandas as pd # write in every new file

In [ ]:
! pip install pandas # one time only

In [61]:
data.columns

Index(['Unnamed: 0', 'ad_url', 'title', 'location', 'model_year', 'price',
       'mileage', 'engine_type', 'transmission', 'registered_in', 'color',
       'assembly', 'engine_capacity', 'body_type', 'ad_last_updated',
       'car_features', 'description'],
      dtype='object')

In [63]:
data["engine_type"].unique()

array(['Petrol', 'Diesel', 'Hybrid', nan], dtype=object)

In [66]:
data[data["model_year"] == 2014.0]

,Unnamed: 0,ad_url,title,location,model_year,price,mileage,engine_type,transmission,registered_in,color,assembly,engine_capacity,body_type,ad_last_updated,car_features,description
13,13,https://www.pakwheels.com/used-cars/alfa-romeo...,Alfa Romeo Other 2014,"Kohat Road, Peshawar KPK",2014.0,PKR 15.5 lacs,"89,285 km",Petrol,Automatic,Lahore,White,Imported,660 cc,NaN,"Oct 09, 2022",ABS\nAM/FM Radio\nAir Bags\nAir Conditioning\n...,After Market Alloy rims. All original document...
29,29,https://www.pakwheels.com/used-cars/toyota-aqu...,Toyota Aqua G 2014,"DHA Defence, Karachi Sindh",2014.0,PKR 33 lacs,"149,252 km",Hybrid,Automatic,Karachi,White,Imported,1500 cc,Hatchback,"Oct 09, 2022",ABS\nAM/FM Radio\nAir Bags\nAir Conditioning\n...,Toyota Aqua G pearl white *Top of the Line*Mod...
78,78,https://www.pakwheels.com/used-cars/honda-city...,Honda City 1.3 i-VTEC 2014,"BOR Housing Society, Lahore Punjab",2014.0,PKR 24.5 lacs,"100,000 km",Petrol,Manual,Lahore,White,Imported Cars,1300 cc,Sedan,"Oct 09, 2022",ABS\nAM/FM Radio\nAir Conditioning\nCD Player\...,Honda city M/TModel 2014Registered 2014Sides m...
105,105,https://www.pakwheels.com/used-cars/toyota-cor...,Toyota Corolla XLi VVTi 2014,Kamoke Punjab,2014.0,PKR 21.5 lacs,"107,000 km",Petrol,Manual,Lahore,White,Imported Cars,1300 cc,Sedan,"Oct 09, 2022",AM/FM Radio\nAir Conditioning\nImmobilizer Key...,100% original. Fitted with new tires. Totally ...
134,134,https://www.pakwheels.com/used-cars/honda-city...,Honda City 1.3 i-VTEC 2014,Lahore Punjab,2014.0,PKR 22.5 lacs,"200,000 km",Petrol,Manual,Lahore,Grey,Imported Cars,1300 cc,Sedan,"Oct 09, 2022",ABS\nAM/FM Radio\nAir Conditioning\nCD Player\...,All original documents are complete\n.\nMentio...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89759,89759,https://www.pakwheels.com/used-cars/suzuki-cul...,Suzuki Cultus EURO II 2014,"Chak 11P East, Rahim Yar Khan Punjab",2014.0,PKR 11.4 lacs,"91,000 km",Petrol,Manual,Karachi,NaN,Imported Cars,1000 cc,Hatchback,"Aug 30, 2022",AM/FM Radio\nAir Conditioning\nCD Player\nDVD ...,good condition car.\rurgent sale After Market ...
89840,89840,https://www.pakwheels.com/used-cars/suzuki-alt...,Suzuki Alto ECO-S 2014,"Shalley Valley, Rawalpindi Punjab",2014.0,PKR 17.75 lacs,"127,000 km",Petrol,Automatic,Rawalpindi,White,Imported,660 cc,Hatchback,"Aug 30, 2022",ABS\nAM/FM Radio\nAir Bags\nAir Conditioning\n...,Neat and clean .No work .just by and drive.\nM...
89843,89843,https://www.pakwheels.com/used-cars/honda-veze...,Honda Vezel Hybrid X 2014,"Allama Iqbal Intl Airport, Lahore Punjab",2014.0,PKR 44.75 lacs,"50,000 km",Hybrid,Automatic,Lahore,Black,Imported,1500 cc,Crossover,"Aug 30, 2022",ABS\nAM/FM Radio\nAir Bags\nAir Conditioning\n...,Model 2014\rImport 2017\rRegistered 2018 Lahor...
89886,89886,https://www.pakwheels.com/used-cars/honda-veze...,Honda Vezel Hybrid Z Style Edition 2014,"Bahadurabad, Karachi Sindh",2014.0,PKR 42.75 lacs,"82,500 km",Petrol,Automatic,Karachi,White,Imported,1500 cc,Crossover,"Aug 31, 2022",ABS\nAM/FM Radio\nAir Bags\nAir Conditioning\n...,Door sills gold emblems modula body kit includ...
89900,89900,https://www.pakwheels.com/used-cars/daihatsu-m...,Daihatsu Move Custom X 2014,"Askari 12, Rawalpindi Punjab",2014.0,PKR 19.5 lacs,"65,000 km",Petrol,Automatic,Islamabad,Black,Imported,660 cc,Hatchback,"Aug 31, 2022",ABS\nAM/FM Radio\nAir Bags\nAir Conditioning\n...,Move X 2014 model 2018 importIslamabad number ...