<a href="https://colab.research.google.com/github/sajidzahid/NEDpython/blob/main/Practice3rd070125.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(sys.version)

NameError: name 'sys' is not defined

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Nov  6 2024, 20:22:13) [GCC 11.4.0]

In [ ]:
x = 4
x = "Hello"
print(x)

Hello

In [ ]:
x = 4
x = "Hello"
print(type(x))

<class 'str'>

In [ ]:
x = 4
y = "Hello"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
a = 4  # A will not overwrite a
A = "Hello"
print(a)

4

In [ ]:
a = 4
A = "Hello" # A will not overwrite a
print(A)

Hello

In [ ]:
x, y, z, = 'Orange', 'Banana', 'Mango'
print(x + y + z)
print(y)
print(z)

OrangeBananaMango
Banana
Mango

In [ ]:
print('hello world')  # This is a comment.

hello world

In [ ]:
print('hello, world')

hello, world

In [ ]:
# print(hello world)
print("Wah rey, Larky!")

Wah rey, Larky!

In [ ]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

Variable

1. It will receive data from other sources like (database, excel).
2. Store dynamic value.
3. It has own data types.

*   String
*   Int
*   Float
*   Boolean
*   List
*   Tuple
*   Dictionary
*   Set

In [ ]:
print('1' + '1') # 11 is String.
print(1+1) # 2 is Interger.

11
2

In [ ]:
float = 15.12 # Numeric Figures in Decmial.
print(float)

15.12

In [ ]:
bool = 5>1
print(bool)

True

In [ ]:
bool = 10<9
print(bool)

False

In [ ]:
bytes = 12
print(bytes)

12

In [ ]:
memoryview(bytes(5))
print(memoryview)

TypeError: 'int' object is not callable

In [ ]:
x = memoryview(bytes(5))
print(x)
print(type(x))

TypeError: 'int' object is not callable

In [1]:
memoryview = memoryview(bytes(5))
print(memoryview)

<memory at 0x7c1da76413c0>

In [3]:
print(1+1)

2
2

In [4]:
print(1 + 1)

2

In [5]:
print(1+1)

2

In [6]:
print(1 + 1)

2

In [7]:
print("1"+"1")

11

In [8]:
print('1'+'1')

11

In [9]:
print('1' + '1')

11

In [10]:
print('1' +  "1")

11

In [11]:
student_name = 'Muhammad Sajid'
print(student_name)

Muhammad Sajid

In [ ]:
student_name = 'Muhammad Sajid' # Valid
student-name = 'Muhammad Sajid' # Not Valid (- is Special character)
student name = 'Muhammad Sajid' # Not Valid (Spacebar is special character)
1studentname = 'Muhammad Sajid' # Not Valid (Numeric Character, Start with Number)

In [13]:
student_name = 'Muhammad Sajid'
print(type(student_name))

<class 'str'>

In [15]:
data = 'My name is Muhammad Sajid & I am a Data Scientis.'
print(data)

My name is Muhammad Sajid & I am a Data Scientis.

In [16]:
data = 'my name is muhammad qasim and father's name is muhammad aslam' # # Variable with single Quote is not valid
print(data)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-16-104d50411b7c>, line 1)

In [18]:
data = "my name is muhammad qasim and father's name is muhammad aslam" # # Variable with inverted commas is valid.
print(data)

my name is muhammad qasim and father's name is muhammad aslam

In [19]:
data = 'my name is muhammad qasim and father's name is muhammad aslam'
print(data)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-19-104d50411b7c>, line 1)