# Loops

* For Loop
* While Loop

In [ ]:
number_range = range(0,10)

# i = iterator

In [14]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0,10):
    print(i+10) # Tab (Spacebar) in necessary when colon is used in syntax.

10
11
12
13
14
15
16
17
18
19

In [24]:
for i in range(0,10):
    print(i+10)
    print(i+20)
print("last-value: ",i)

10
20
11
21
12
22
13
23
14
24
15
25
16
26
17
27
18
28
19
29
last-value:  9

In [28]:
fruits = ["mango", "apple", "strawberry"]
for fruit in fruits:
    print(fruit.upper()) # Upper function use to capitalized the letters.

MANGO
APPLE
STRAWBERRY

In [43]:
#            0        1          2
# This function is use when we need to capitilized the values. 
fruits = ["mango", "apple", "strawberry"]
index = 0
for fruit in fruits:
    fruits [index]=fruit.upper()
    index +=1
print(fruits)

['MANGO', 'APPLE', 'STRAWBERRY']

In [40]:
# Write a program which will taka a interger input and print the multiplication table. - ASSIGNEMENT

In [57]:
number = int(input("Enter Multiplication Table"))
number = int(input("Enter range"))
    for i in range(1,11)
    print(f"{i} x {number} =" , i*number)

IndentationError: unexpected indent (2703718125.py, line 3)

In [59]:
# Get the number from the user
number = int(input("Enter the number to generate the multiplication table: "))

# Get the range for the table
table_range = int(input("Enter the range for the table (e.g., 10 for 1-10): "))

# Generate and print the table
print(f"\nMultiplication Table for {number}:\n")
for i in range(1, table_range + 1):
 print(f"{number} x {i} = {number * i}")

Enter the number to generate the multiplication table:  2
Enter the range for the table (e.g., 10 for 1-10):  10

Multiplication Table for 2:

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [61]:
fruits = ["mango", "apple", "strawberry", "Guava"]
for fruit_index in range(len(fruits)):
    print(fruits)

['mango', 'apple', 'strawberry', 'Guava']
['mango', 'apple', 'strawberry', 'Guava']
['mango', 'apple', 'strawberry', 'Guava']
['mango', 'apple', 'strawberry', 'Guava']

In [65]:
fruits = ["mango", "apple", "strawberry", "Guava"]
for fruit_index in range(len(fruits)):
    fruits[fruit_index] = fruits[fruit_index].upper()
    print(fruits)

['MANGO', 'apple', 'strawberry', 'Guava']
['MANGO', 'APPLE', 'strawberry', 'Guava']
['MANGO', 'APPLE', 'STRAWBERRY', 'Guava']
['MANGO', 'APPLE', 'STRAWBERRY', 'GUAVA']

In [ ]:
# Write a program which will sum all the numbers from 1 to 1000.

In [102]:
total = 0
for i in range(1,1001):
    total += i
print(total)

500500

# While Loops

In [118]:
total = 0
i = 1
while total <= 10:
    i +=20
    total +=1
    print(total, "Value of i: ",i)
    print("loop has ended")
    print(total)
    print(i)

1 Value of i:  21
loop has ended
1
21
2 Value of i:  41
loop has ended
2
41
3 Value of i:  61
loop has ended
3
61
4 Value of i:  81
loop has ended
4
81
5 Value of i:  101
loop has ended
5
101
6 Value of i:  121
loop has ended
6
121
7 Value of i:  141
loop has ended
7
141
8 Value of i:  161
loop has ended
8
161
9 Value of i:  181
loop has ended
9
181
10 Value of i:  201
loop has ended
10
201
11 Value of i:  221
loop has ended
11
221

In [ ]:
total = 0
i = 1
while total <= 100:
    i +=10
    total +=1
    print(total, "Value of i: ",i)

In [1]:
import random
random_number = random.randint(0,10)
usr_number = int(input('Enter a number from 0 to 10'))

while usr_number != random_number:
    print('You have guessed the incorrect number')
    break

Enter a number from 0 to 10 2

You have guessed the incorrect number

# Nested for loops

In [4]:
fruits = ["mango", "apple", "strawberry", "Guava"]
for i in fruits:
    print(i)
    for j in i:
        print(j)

mango
m
a
n
g
o
apple
a
p
p
l
e
strawberry
s
t
r
a
w
b
e
r
r
y
Guava
G
u
a
v
a

In [6]:
for i in range(0,3):
    for j in range(0,3):
        print(f"({i},{j})", end = " ")
        print()

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)