In [2]:
#         0.  1.  2.  3. 4  5 6 7 --->
names = ['a','b','c','d',1, 2,3,4]
#        -8. -7.  -6. -5-4 -3 -2 -1   <---

print(names[2])
print(names[-6])

c
c

# Slicing
`variable_name[start:end:step]`
* start = include
* end = exclude (n-1)
* step = sequance = 1

In [7]:
#         0.  1.  2.  3. 4  5 6 7 --->
names = ['a','b','c','d',1, 2,3,4]
#        -8. -7.  -6. -5-4 -3 -2 -1   <---

print(names[1:4])#-->
print(names[-7:-4])#-->
print(names[1:-4])#-->
print(names[-7:4])#-->

['b', 'c', 'd']
['b', 'c', 'd']
['b', 'c', 'd']
['b', 'c', 'd']

In [10]:
#         0.  1.  2.  3. 4  5 6 7 --->
names = ['a','b','c','d',1, 2,3,4]
#        -8. -7.  -6. -5-4 -3 -2 -1   <---

print(names[::1])
print(names[::2])
print(names[::3])

['a', 'b', 'c', 'd', 1, 2, 3, 4]
['a', 'c', 1, 3]
['a', 'd', 3]

In [14]:
#         0.  1.  2.  3. 4  5 6 7 --->
names = ['a','b','c','d',1, 2,3,4]
#        -8. -7.  -6. -5-4 -3 -2 -1   <---
print(names[::-1])
print(names[-7:-4:-1])#<---
print(names[-5:-8:-1])
print(names[-5:0:-1])
print(names[-5:0])

[4, 3, 2, 1, 'd', 'c', 'b', 'a']
[]
['d', 'c', 'b']
['d', 'c', 'b']

In [18]:
#         0.  1.  2.  3. 4  5 6 7 --->
names = ['a','b','c','d',1, 2,3,4]
#        -8. -7.  -6. -5-4 -3 -2 -1   <---
print(names)
names[0] = "Qasim" # mutable, we can change it.

print(names)

['a', 'b', 'c', 'd', 1, 2, 3, 4]
['Qasim', 'b', 'c', 'd', 1, 2, 3, 4]

In [15]:
list(dir(list))

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Tuple
* imutable (we can't change it)

In [19]:
data = ('a','b','c','d',1, 2,3,4)
print(type(data))
print(data)

<class 'tuple'>
('a', 'b', 'c', 'd', 1, 2, 3, 4)

In [23]:
data = ('a','b','c','d',1, 2,3,4)
print(data)
data[0] = "Qasim" # imutable (we can't change it)
print(data)

('a', 'b', 'c', 'd', 1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [24]:
data = ('a','b','c','d',1, 2,3,4) # assign
print(data)
data = ('Muhammad Qasim','b','c','d',1, 2,3,4) # reassign/redecleared/create new variable
print(data)

('a', 'b', 'c', 'd', 1, 2, 3, 4)
('Muhammad Qasim', 'b', 'c', 'd', 1, 2, 3, 4)

In [25]:
list(dir(tuple))

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Set Data type

In [26]:
a1 = {"a","b","c","a","a","c","b",1,2,2,2,2}
print(a1)

{1, 2, 'b', 'a', 'c'}

In [28]:
a1 = {"a","b","c"}
a2 = {"a","c","x"}

print(a1.difference(a2))
print(a1.intersection(a2))
print(a1.union(a2))

{'b'}
{'a', 'c'}
{'x', 'b', 'a', 'c'}

In [30]:
sbp = {1,2}
bank = {1,5,7,8}

print(sbp.intersection(bank))
print(sbp.difference(bank))

{1}
{2}

In [27]:
list(dir(set))

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# Dictionary
* we replace index with key
* {`key` : `value`}

In [ ]:
# problem
# indexing not meaning full for storing structure data
#           0                1             2     3        4         5
data1 = ["Muhammad Qasim","Muhammad Aslam", 30 , "MSDS", "Karachi","Karachi"]
data2 = ['Abid','Asif',35,"Karachi","PHD","Karachi"]

In [31]:
#             0                1             2     3        4         5
# data1 = ["Muhammad Qasim","Muhammad Aslam", 30 , "MSDS", "Karachi","Karachi"]
# {key:value}
# {0:"Muhammad Qasim"}

data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}
print(type(data))
print(data1)

<class 'tuple'>
{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'age': 30, 'education': 'MSDS', 'city': 'Karachi', 'birth_city': 'Karachi'}

In [34]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}


print(data1['age'])
print(data1['name'])

30
Muhammad Qasim

In [36]:
family = {
    "father" : {
        "name" : "Muhammad Aslam",
        "age" : 60,
        "education" : "MSDS",
        "skills" : ["AI","ML","DL"]
    },

    "mother" : {
        "name" : "Naseem",
        "age" : 55,
        "education" : "MS"
    },
}

family

{'father': {'name': 'Muhammad Aslam',
  'age': 60,
  'education': 'MSDS',
  'skills': ['AI', 'ML', 'DL']},
 'mother': {'name': 'Naseem', 'age': 55, 'education': 'MS'}}

In [37]:


list(dir(dict))

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [62]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

data2 = {"age": 31,
         "education": "PHD",
         "address": "Lahore",
         "blood group" : "A+"}

data1.update(data2) # merge

print(data1)
print(data2)

{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'age': 31, 'education': 'PHD', 'city': 'Karachi', 'birth_city': 'Karachi', 'address': 'Lahore', 'blood group': 'A+'}
{'age': 31, 'education': 'PHD', 'address': 'Lahore', 'blood group': 'A+'}

In [60]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}
print(data1.setdefault('contact number')) # if avaible then return it value otherwise add key in dictionary
print(data1)

None
{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'age': 30, 'education': 'MSDS', 'city': 'Karachi', 'birth_city': 'Karachi', 'contact number': None}

In [61]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}
print(data1.setdefault('contact number',"not available"))
print(data1)

not available
{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'age': 30, 'education': 'MSDS', 'city': 'Karachi', 'birth_city': 'Karachi', 'contact number': 'not available'}

In [59]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}
print(data1.get('contact number')) # if available then return it value otherwise not raise the error
print(data1)

None
{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'age': 30, 'education': 'MSDS', 'city': 'Karachi', 'birth_city': 'Karachi'}

In [54]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

del_data = data1.popitem()

print(data1)
print(del_data)

{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'age': 30, 'education': 'MSDS', 'city': 'Karachi'}
('birth_city', 'Karachi')

In [57]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

del_data = data1.popitem()

print(data1)
print(del_data)

{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'age': 30, 'education': 'MSDS', 'city': 'Karachi'}
('birth_city', 'Karachi')

In [53]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

del_data = data1.pop("age")

print(data1)

print(del_data)

{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'education': 'MSDS', 'city': 'Karachi', 'birth_city': 'Karachi'}
30

In [48]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

print(data1.keys())

dict_keys(['name', 'father_name', 'age', 'education', 'city', 'birth_city'])

In [ ]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

In [49]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

print(data1.values())

dict_values(['Muhammad Qasim', 'Muhammad Aslam', 30, 'MSDS', 'Karachi', 'Karachi'])

In [50]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

print(data1.items())

dict_items([('name', 'Muhammad Qasim'), ('father_name', 'Muhammad Aslam'), ('age', 30), ('education', 'MSDS'), ('city', 'Karachi'), ('birth_city', 'Karachi')])

In [45]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

print(data1['name'])
print(data1['contact number']) # error
print("Pakistan zindabad")

Muhammad Qasim

KeyError: 'contact number'

In [47]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

print(data1['name'])
print(data1.get('contact number')) # dict.get('key')
print(data1.get('name'))
print("Pakistan zindabad")

Muhammad Qasim
None
Muhammad Qasim
Pakistan zindabad

In [43]:
keys_list = ["id",'cnic','name','father_name','address', 'contact number']

data1 = dict.fromkeys(keys_list)

data1['id'] = 1
data1

{'id': 1,
 'cnic': None,
 'name': None,
 'father_name': None,
 'address': None,
 'contact number': None}

In [41]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

data2 = data1.copy() # deep copy - diff objects

data2['age'] = 50

print(data1)
print(data2)

{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'age': 30, 'education': 'MSDS', 'city': 'Karachi', 'birth_city': 'Karachi'}
{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'age': 50, 'education': 'MSDS', 'city': 'Karachi', 'birth_city': 'Karachi'}

In [40]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}

data2 = data1 # shallow copy - nick name - same objects

data2['age'] = 50

print(data1)
print(data2)

{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'age': 50, 'education': 'MSDS', 'city': 'Karachi', 'birth_city': 'Karachi'}
{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam', 'age': 50, 'education': 'MSDS', 'city': 'Karachi', 'birth_city': 'Karachi'}

In [39]:
data1 = {
    "name":"Muhammad Qasim",
    "father_name" : "Muhammad Aslam",
    "age": 30,
    "education" : "MSDS",
    "city" : "Karachi",
    "birth_city" : "Karachi"
}
data1.clear() #

print(data1)

{}

In [63]:
data = {
    "id": [1,2,3],
    "name":['Qasim','Dr Najeed',"Jamal"]
}

import pandas as pd

df = pd.DataFrame(data)
df

   id       name
0   1      Qasim
1   2  Dr Najeed
2   3      Jamal

In [81]:
chat = """
You
12:45PM
https://docs.python.org/3/library/re.html
Zaib Unnisa
12:46PM
4200005000408
Affan Hasan
12:46PM
4210171417603
Ali Mohtashim
12:46PM
42201-58820081-1
Ali Sardar
12:46PM
42101-7501016-9
SAJID ZAHID
12:46PM
SAJID : 42101-5646709-9
Asif Shah
12:46PM
42401-0675764-1
BABAR SUFYAN
12:46PM
42201-716393-3
Faraz Khan
12:46PM
4240193224485
shahbaaz siddiqui
12:46PM
42000-7729711-3
Zeeshan Ali
12:46PM
42000-8300210-5
Elishba John
12:46PM
42301.0327661.0
Babar Ali
12:46PM
4550452532213
abdullah aweem
12:46PM
4210150157035
Simra Nasir
12:46PM
4210160202332
Elishba John
12:46PM
42301,0327661,0
Syed komail Hassan
12:47PM
42501-1445345-7
Muhammad Rafay
12:47PM
4250159698285
adeel akhtar
12:47PM
4220185361219
Pervaiz Nazir
12:47PM
4530292932613
amber malik
12:47PM
37405-0609161-8
"""

import re

patter = """(.*?)
([0-9]{2}:[0-9]{2}[AMP]{2})
([0-9-.,]+)"""

data = re.findall(patter,chat)
data


import pandas as pd

df = pd.DataFrame(data,columns =["Name","time","CNIC"])
df

                  Name      time              CNIC
0          Zaib Unnisa  12:46PM     4200005000408
1          Affan Hasan  12:46PM     4210171417603
2        Ali Mohtashim  12:46PM  42201-58820081-1
3           Ali Sardar  12:46PM   42101-7501016-9
4            Asif Shah  12:46PM   42401-0675764-1
5         BABAR SUFYAN  12:46PM    42201-716393-3
6           Faraz Khan  12:46PM     4240193224485
7    shahbaaz siddiqui  12:46PM   42000-7729711-3
8          Zeeshan Ali  12:46PM   42000-8300210-5
9         Elishba John  12:46PM   42301.0327661.0
10           Babar Ali  12:46PM     4550452532213
11      abdullah aweem  12:46PM     4210150157035
12         Simra Nasir  12:46PM     4210160202332
13        Elishba John  12:46PM   42301,0327661,0
14  Syed komail Hassan  12:47PM   42501-1445345-7
15      Muhammad Rafay  12:47PM     4250159698285
16        adeel akhtar  12:47PM     4220185361219
17       Pervaiz Nazir  12:47PM     4530292932613
18         amber malik  12:47PM   37405-0609161-8

In [83]:
import re

# Input data as a string
data = """
Zaib Unnisa
12:46 PM
4200005000408
Affan Hasan
12:46 PM
4210171417603
Ali Mohtashim
12:46 PM
42201-58820081-1
Ali Sardar
12:46 PM
42101-7501016-9
SAJID ZAHID
12:46 PM
SAJID : 42101-5646709-9
Asif Shah
12:46 PM
42401-0675764-1
BABAR SUFYAN
12:46 PM
42201-716393-3
Faraz Khan
12:46 PM
4240193224485
shahbaaz siddiqui
12:46 PM
42000-7729711-3
Zeeshan Ali
12:46 PM
42000-8300210-5
Elishba John
12:46 PM
42301.0327661.0
Babar Ali
12:46 PM
4550452532213
abdullah aweem
12:46 PM
4210150157035
Simra Nasir
12:46 PM
4210160202332
Elishba John
12:46 PM
42301,0327661,0
Syed komail Hassan
12:47 PM
42501-1445345-7
Muhammad Rafay
12:47 PM
4250159698285
adeel akhtar
12:47 PM
4220185361219
Pervaiz Nazir
12:47 PM
4530292932613
amber malik
12:47 PM
37405-0609161-8
"""

# Pattern to match names, times, and CNICs
pattern = r"([A-Za-z ,]+)\n(\d{1,2}:\d{2} [APM]{2})\n([\d\.-]+)"

# Find all matches
matches = re.findall(pattern, data)

# Convert matches to tuples
result = [(name.strip(), time, cnic) for name, time, cnic in matches]

# Print the result
df = pd.DataFrame(result, columns=["Name","Time","CNIC"])
df

                  Name      Time              CNIC
0          Zaib Unnisa  12:46 PM     4200005000408
1          Affan Hasan  12:46 PM     4210171417603
2        Ali Mohtashim  12:46 PM  42201-58820081-1
3           Ali Sardar  12:46 PM   42101-7501016-9
4            Asif Shah  12:46 PM   42401-0675764-1
5         BABAR SUFYAN  12:46 PM    42201-716393-3
6           Faraz Khan  12:46 PM     4240193224485
7    shahbaaz siddiqui  12:46 PM   42000-7729711-3
8          Zeeshan Ali  12:46 PM   42000-8300210-5
9         Elishba John  12:46 PM   42301.0327661.0
10           Babar Ali  12:46 PM     4550452532213
11      abdullah aweem  12:46 PM     4210150157035
12         Simra Nasir  12:46 PM     4210160202332
13        Elishba John  12:46 PM             42301
14  Syed komail Hassan  12:47 PM   42501-1445345-7
15      Muhammad Rafay  12:47 PM     4250159698285
16        adeel akhtar  12:47 PM     4220185361219
17       Pervaiz Nazir  12:47 PM     4530292932613
18         amber malik  12:47 PM   37405-0609161-8