https://www.w3schools.com/python/python_operators.asp

In [1]:
"1" + "1"

'11'

In [2]:
1 + 1

2

In [3]:
3 - 2

1

In [4]:
2 * 2

4

In [5]:
12 / 4

3.0

In [6]:
12 / 5

2.4

In [7]:
12 // 5

2

In [8]:
11 % 3

2

In [9]:
2 ** 3
# 2 * 2 * 2 = 8

8

In [10]:
a = 7
print(a)

7

In [11]:
a = 7
a = 3
a = 4

print(a)

4

In [16]:
a = 0
# = 0 + 1
# =   1
# a = 1
a = a + 1 # 1
a = a + 2 # 3
a += 4

print(a)

3

In [17]:
a = 0

a = a + 1
a = a + 2
a += 4

print(a)

7

In [19]:
x = 3
print(x)

3

In [21]:
print( y := 3)

3

# Python Comparison Operators

In [22]:
print(2 == 4)

False

In [23]:
print(2 == 2)

True

In [24]:
"Qasim" == "qasim"

False

In [25]:
"Qasim" == "Qasim"

True

In [26]:
2 != 3

True

In [27]:
2 != 2

False

In [28]:
"Qasim" != "qasim"

True

In [29]:
5 > 6

False

In [30]:
5 > 3

True

In [31]:
12 > 7

True

In [39]:
# prompt: print Q ascci

print(ord("Q"))
print(ord('q'))

81
113

In [34]:
"qasim" > "Qasim"

True

In [40]:
5 > 5

False

In [41]:
5 >= 5

True

In [42]:
5 => 5

SyntaxError: cannot assign to literal (<ipython-input-42-370ffe2009c2>, line 1)

# Python Logical Operators

In [46]:
# True      True       True          True
5 == 5 and 2 == 2 and 3 == 3 and 'Qasim' == 'Qasim'

True

In [49]:
print(True and True and True and True)
print(False and True and True and True)
print(True and False and False and True)

True
False
False

In [50]:
# True      True       True          True
print(5 == 5 or 2 == 2 or 3 == 3 or 'Qasim' == 'Qasim')
print(5 == 5 or 2 == 2 or 3 == 3 or 'Qasim' == 'qasim')
print(5 == 3 or 2 == 2 or 3 == 3 or 'Qasim' == 'qasim')
print(5 == 2 or 2 == 1 or 3 == 3 or 'Qasim' == 'q')

True
True
True
True

In [52]:
(True or False or False) and True

True

In [53]:
not True

False

In [54]:
not 2 == 2

False

# Python Identity Operators

In [55]:
a = 5
b = 5
c = 5
print(id(a), id(b), id(c))

139334017401200 139334017401200 139334017401200

In [56]:
a is b

True

In [57]:
a is not b

False

#  Python Membership Operators

In [60]:
post = """
Hello world
we love our country
pakistan zindabad
"""

print(post)
print('pakistan' in post)
print("Pakistan" in post)

Hello world
we love our country
pakistan zindabad

True
False

In [63]:
names = ["Qasim", "Ali", "Hamza", "Zia", "Najeed"]

i = 0
while i<len(names):
    if names[i] == "Najam":
        print(True)
        break
    i += 1
else:
  print(False)

#

False

In [66]:
names = ["Qasim", "Ali", "Hamza", "Zia", "Najeed"]

print("Najeed" in names)
print("Najam" not in names)
print("Najam" in names)

True
True
False

In [67]:
address = ["Pakistan", 'Iran',"Pakistan"]
print("Pakistan" in address)

True

In [68]:
#         2
#   2  * 2 = 4
#2 + 4 = 6
2 + 2 * (7 - 5)

6

# String Data types

In [69]:
a = "Qasim"
b = 'Qasim'
c = """Qasim"""
d = '''Qasim'''

print(type(a), type(b), type(c), type(d))
print(id(a), id(b), id(c), id(d))

<class 'str'> <class 'str'> <class 'str'> <class 'str'>
139332689751536 139332689751536 139332689751536 139332689751536

In [72]:
# prompt: print all methods of string

string_methods = [method for method in dir(str) if not method.startswith("__")]
for idx, method in enumerate(string_methods):
  print(idx , method)

0 capitalize
1 casefold
2 center
3 count
4 encode
5 endswith
6 expandtabs
7 find
8 format
9 format_map
10 index
11 isalnum
12 isalpha
13 isascii
14 isdecimal
15 isdigit
16 isidentifier
17 islower
18 isnumeric
19 isprintable
20 isspace
21 istitle
22 isupper
23 join
24 ljust
25 lower
26 lstrip
27 maketrans
28 partition
29 removeprefix
30 removesuffix
31 replace
32 rfind
33 rindex
34 rjust
35 rpartition
36 rsplit
37 rstrip
38 split
39 splitlines
40 startswith
41 strip
42 swapcase
43 title
44 translate
45 upper
46 zfill

In [74]:
# prompt: print all attributes of string excluding methods

string_attributes = [attr for attr in dir(str) if not attr.startswith("__") and not callable(getattr(str, attr))]
for idx, attr in enumerate(string_attributes):
  print(idx, attr)

In [75]:
text = "Pakistan zinda bad"
print(text)

Pakistan zinda bad

In [83]:
text = "    Pakistan zinda bad   "
# variable_name.method_name()
# variable_name.attribute_name
print(text.capitalize())
print(text.lower())
print(text.upper())
print(text.title())
print(text.casefold())
print(text.swapcase())
print(text.count('a'))
print(text.find('a'))
print(text.index('a'))
print(text.startswith('a'))
print(text.endswith('a')) # False
print(text.split()) # split space
print(text.split('a'))
print(text.splitlines())
print(text.strip())
print(text.lstrip())
print(text.rstrip())
print(text.replace('a', 'b'))
print(text.join('abc'))

    pakistan zinda bad
    pakistan zinda bad
    PAKISTAN ZINDA BAD
    Pakistan Zinda Bad
    pakistan zinda bad
    pAKISTAN ZINDA BAD
4
5
5
False
False
['Pakistan', 'zinda', 'bad']
['    P', 'kist', 'n zind', ' b', 'd   ']
['    Pakistan zinda bad   ']
Pakistan zinda bad
Pakistan zinda bad
    Pakistan zinda bad
    Pbkistbn zindb bbd
a    Pakistan zinda bad   b    Pakistan zinda bad   c

In [91]:
card = """
PIAIC ISLAMABAD
Bahria University
Name: \tMuhammad Qasim
Father's Name: \tMuhammad Aslam
"""
print(card)
print(card.expandtabs(24))

PIAIC ISLAMABAD
Bahria University
Name: 	Muhammad Qasim
Father's Name: 	Muhammad Aslam


PIAIC ISLAMABAD
Bahria University
Name:                   Muhammad Qasim
Father's Name:          Muhammad Aslam

In [86]:
names = ["Qasim", "Ali", "Hamza", "Zia", "Najeed"]
print(names)
" Dear, ".join(names)

['Qasim', 'Ali', 'Hamza', 'Zia', 'Najeed']

'Qasim Dear, Ali Dear, Hamza Dear, Zia Dear, Najeed'

In [96]:
text1= """
Pakistan {2 + 7}
name list {names}
"""
print(text1)

Pakistan {2 + 7}
name list {names}

In [95]:
text1= f"""
Pakistan {2 + 7}
names list {names}
"""
print(text1)

Pakistan 9
names list ['Qasim', 'Ali', 'Hamza', 'Zia', 'Najeed']

In [97]:
a = 7
print(type(a))
print(a)

<class 'int'>
7

In [101]:
for name in names:
  card = f"""
PIAIC ISLAMABAD
Bahria University
Name: \t{name}
Father's Name: \tMuhammad Aslam
"""
  print(name)
  print(card)

Qasim

PIAIC ISLAMABAD
Bahria University
Name: 	Qasim
Father's Name: 	Muhammad Aslam

Ali

PIAIC ISLAMABAD
Bahria University
Name: 	Ali
Father's Name: 	Muhammad Aslam

Hamza

PIAIC ISLAMABAD
Bahria University
Name: 	Hamza
Father's Name: 	Muhammad Aslam

Zia

PIAIC ISLAMABAD
Bahria University
Name: 	Zia
Father's Name: 	Muhammad Aslam

Najeed

PIAIC ISLAMABAD
Bahria University
Name: 	Najeed
Father's Name: 	Muhammad Aslam

In [102]:
a = 7
print(type(a))

<class 'int'>

In [103]:
a = 7.2
print(type(a))

<class 'float'>

In [108]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [109]:
a = 'pakistan'
print(a)

print(type(a))

pakistan
<class 'str'>

In [110]:
a = [1,2,3,'a','b']
print(a)

print(type(a))

[1, 2, 3, 'a', 'b']
<class 'list'>

In [111]:
a = {1,1,1,2,3,3}
print(a)

print(type(a))

{1, 2, 3}
<class 'set'>

In [112]:
a = (1,1,1,2,3,3)
print(a)

print(type(a))

(1, 1, 1, 2, 3, 3)
<class 'tuple'>

In [113]:
a = {
    "name": "Qasim",
    "fname": "Aslam",
    "age": 30
}
print(a)

print(type(a))

{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}
<class 'dict'>