Date: 4 Jan 2025
# Static VS Dynamic
1. Static
  * alway same
2. Dynamic
  * change

# Text concatination
join text with variable or other type objects
1. `+`
  * type casting required
2. `"".format(var1, var2)`
  * no need type casting
  * required position of variable
3. `%`
  * require each data type symbols

4. `f"{var1} any text {var2}"`
  * no need type casting and postion

# Variable

1. it will recieve data from other sources like (database, excel)
2. store dynamic value
3. it has own data types
  * string
  * int
  * floot
  * boolen
  * list
  * tuple
  * dictionary
  * set

In [2]:
print(1 + 1) # 2 int
print('1' + '1') # 11 string

2
11

# How to create variable
`variable_name = variable_value`
1. variable_name
write meaning full name not allowed any special character including space. variable name always case sensitive.
2. `=` assign operator
3. = variable value

# Example
`student_name = "Muhammad Qasim"`
1. variable_name(student_name)
2. operator(=)
3. Muhammad Qasim(variable_value)
  * data_type

# Naming Conventions
* snake_case
* camelCase
* CapitalizeEachWord

In [ ]:
student name = "Muhammad Qasim" # invalid (space spacial character)
student-name = "Muhammad Qasim" # invalid (- special character)
1studentname = "Muhammad Qasim" # invalid (start with number)
student_name = "Muhammad Qasim" # valid

# Case Sensitive

In [3]:
name = "Qasim"
Name = "Muhammad Qasim"
print(name)
print(Name)

Qasim
Muhammad Qasim

# How to create string
1. `'your string text here'`
2. `"your string text here"`
3. `'''your multilines text here'''`
4. `"""your multilines text here"""`

In [7]:
data = 'Pakistan zinda'

print(type(data))
print(data)

<class 'str'>
Pakistan zinda

In [8]:
data = "Pakistan zinda"

print(type(data))
print(data)

<class 'str'>
Pakistan zinda

In [15]:
data = '''Pakistan zinda
Hello world
we love our country''' # raw text

print(type(data))
print(data)

<class 'str'>
Pakistan zinda
Hello world
we love our country

In [12]:
data = """Pakistan zinda
        Hello world
we love our country""" # raw text

print(type(data))
print(data)

<class 'str'>
Pakistan zinda
        Hello world
we love our country

In [14]:
# old way to do samething
data = "Pakistan zinda\nHello world\nwe love our country"

print(type(data))
print(data)

<class 'str'>
Pakistan zinda
Hello world
we love our country

# Solve some problems

In [16]:
data = 'my name is muhammad qasim and father's name is muhammad aslam'
print(data)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-16-104d50411b7c>, line 1)

In [17]:
data = "my name is muhammad qasim and father's name is muhammad aslam"
print(data)

my name is muhammad qasim and father's name is muhammad aslam

In [18]:
data = "my name is "muhammad qasim" and father's name is muhammad aslam"
print(data)

SyntaxError: invalid syntax (<ipython-input-18-690db3b51198>, line 1)

In [19]:
data = 'my name is "muhammad qasim" and father's name is muhammad aslam'
print(data)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-19-237afd7d64ab>, line 1)

In [20]:
# convert any special chracter into normal character ,just place \ before any special character
data = "my name is \"muhammad qasim\" and father's name is muhammad aslam"
print(data)

my name is "muhammad qasim" and father's name is muhammad aslam

In [21]:
data = '''my name is "muhammad qasim" and father's name is muhammad aslam'''
print(data)

my name is "muhammad qasim" and father's name is muhammad aslam

# Text/string Concatination
1. join text with text and other datatypes

In [22]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"

print(name)
print(father_name)

Muhammad Qasim
Muhammad Aslam

# Text concatination
join text with variable or other type objects
1. `+`
  * type casting required
2. `"".format(var1, var2)`
  * no need type casting
  * required position of variable
3. `%`
  * place % at the end string
  * require each data type symbols

4. `f"{var1} any text {var2}"`  ✅
  * no need type casting and postion

In [28]:
# +
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"


#         "Hello, " + "Muhammad Qasim" + "son of " + "Muhammad Aslam"
message = "Hello, " + name + " son of " + father_name

print(message)

Hello, Muhammad Qasim son of Muhammad Aslam

In [29]:
# .format
# .format() at the end of string
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"

#                 0         1          0        1
message = "Hello, {} son of {}".format(name, father_name)
print(message)

Hello, Muhammad Qasim son of Muhammad Aslam

In [30]:
# .format
# .format() at the end of string
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"

#                 0         1          0        1
message = "Hello, {} son of {}".format(father_name, name)
print(message)

Hello, Muhammad Aslam son of Muhammad Qasim

In [31]:
# .format
# .format() at the end of string
# place holder {}
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"

#                 0         1              0        1
message = "Hello, {1} son of {0}".format(father_name, name)
print(message)

Hello, Muhammad Qasim son of Muhammad Aslam

In [32]:
# %
# place holder data type symbols
# string = %s
# int = %d

name = "Muhammad Qasim"
father_name = "Muhammad Aslam"

message = "Hello, %s son of %s" % (name, father_name)
print(message)
#

Hello, Muhammad Qasim son of Muhammad Aslam

# 4. F-string

In [37]:
# f-string
# place f before starting boundry
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"


message = f"""NED Student Card
Name  {name}
Father's Name  {father_name}
"""

print(message)

NED Student Card
Name  Muhammad Qasim
Father's Name  Muhammad Aslam