jupyter notebook

In [1]:
name = "Jamal"

In [2]:
id(name) # memory address

2034659653104

# Shallow Copy

In [3]:
# create a new variable which refers to the memory location of a old variable
# 2 variables are stored but only one memory slot is used

name2 = "HAssan"
id(name2)

2034660414384

In [4]:
name3 = name2
print(name3)

HAssan

In [5]:
id(name3) # Shallow Copy (helps to save memory)

2034660414384

In [6]:
name2 = "Aneeq"
print(name2)
print(id(name2))

Aneeq
2034660256944

In [7]:
print(name3)
print(id(name3))

HAssan
2034660414384

In [8]:
name4 = "hamza"
print(id(name4))

2034660253616

In [9]:
name4 = "Ahmed"
print(id(name4))

2034660252336

In [12]:
name1 = "Hassan"
name2 = "Hassan"
print("name1: ",id(name1))
print("name2: ",id(name2))

name1:  2034660258480
name2:  2034660424048

In [13]:
print(name4)

Ahmed

# Operators

In [19]:
x = 19.123456789
y = 100
print(x+y,type(x+y))
print(x-y)
print(x*y)
print(y%x)#remainder
print(y//x)# floor division
print(y**x)# exponent 100^19

119.123456789 <class 'float'>
-80.876543211
1912.3456789
4.382716055000007
5.0
1.7656864247043414e+38

In [15]:
100/19

5.2631578947368425

# Assignment Operators

In [34]:
age1 = 23

In [35]:
age = 23 #assignment operator

In [36]:
age1 +=23
print(age1)

46

In [37]:
age -= 5
print(age)

18

In [38]:
age1 -= 5
print(age1)

41

In [39]:
age = 10

In [40]:
age -= 10
print(age)

0

In [23]:
age *= 2.5
print(age)

45.0

In [24]:
age **= 2.5
print(age)

13584.112963311223

In [25]:
age //= 2.5
print(age)

5433.0

In [41]:
# Python is a dynamic data type language
# variables can be updated constantly

In [ ]:
age = "23"

In [46]:
age = 23
age2 = 23

In [43]:
age+= 100
age2+=56

print(age1+age2)

123

In [47]:
# Both have the same meaning
age += 100
print(age)
age2 = age2 + 100
(age2)

123

123

# Comparision operators

In [51]:
a = 1000
b = 104565.24524
c = "my name is"
print(a==b)
# checks wether the 2 values are equal or not
# Output of comparision operators will always be boolean

False

In [50]:
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a!=b) # Does not equal to

False
True
True
False
True

In [55]:
# comparision between string and integer is only possible with
# == and != operators

In [57]:
rain = True
not_rain = False

rain != not_rain

True

# Type Casting

In [63]:
x = "agdawrhgahgafs"
print(type(x))

<class 'str'>

In [64]:
x = float(x)
print(type(x))

ValueError: could not convert string to float: 'agdawrhgahgafs'

In [70]:
a = "100"
b = "19.524524"
expr = f"{a}+{b}" # formatted string
print(expr)
eval(expr)# allows us to calcualte strings if they have a numerical meaning

100+19.524524

119.524524

In [72]:
equation = "100 + 19 - 98 + 65 - (190/23) + 14.657 "
eval(equation)

92.3961304347826

In [73]:
# formatted String
# when you want to add variable values to your string

In [74]:
name = str(input("Please enter your name"))
#input() method is used to take user input at run time
print(f"Hello, your name is {name}")

Please enter your nameJamal Ahmed Khan
Hello, your name is Jamal Ahmed Khan

In [78]:
age = float(input("Please enter your age"))
print(f"Hello, your age is {age}")

Please enter your age23.25
Hello, your age is 23.25

In [79]:
age = float(input(""))
print(f"Hello, your age is {age}")

12
Hello, your age is 12.0

In [83]:
university = input("Please enter the university you study in? ")
print(f"The university you are studying in is: {university}")

Please enter the university you study in? abc
The university you are studying in is: abc

In [99]:
print("hello")

hello

eval()
input()
sum()
str()
int()

[]
{}

In [86]:
print(type("abc"))

<class 'str'>

In [91]:
integer  = 1000
integer = str(integer)

In [92]:
print(type(integer))

<class 'str'>

In [95]:
rain2 = str(rain)
print(type(rain2))

<class 'str'>

In [98]:
#True 1
#False 0
print(rain)
rain3 = int(rain)
print(type(rain3))
print(rain3)

True
<class 'int'>
1

Type Casting:
string to integer
string to float
string to boolean
string to datetime

integer to string
integer to float

boolean to string
boolean to integer

# Logical Operators:

In [102]:
x = 10
y = 11
z = 12

x<y and y>z

False

In [105]:
# and means all expressions have to be true
x<y and x<z and y<z

True

In [106]:
# or means at least one expressions ha to be True
x<y or y>z or y<z

True

In [108]:
x<y and z>y or z<y # sequentially evauates the expression

True

In [111]:
d = 20
(x>y and z<y) or (z<y and d<z) 
# false         or       false

False

# not operator