In [2]:
print("Pakistan Zindabad")

Pakistan Zindabad

In [3]:
print("NED univserity")
print("City: Karachi")
print("Course : Data Science Batch-10")
print("Name : Muhammad Qasim")

NED univserity
City: Karachi
Course : Data Science Batch-10
Name : Muhammad Qasim

In [4]:
print("NED univserity")
print("City: Karachi")
print("Course : Data Science Batch-10")
print("Name : Asif Khan")

NED univserity
City: Karachi
Course : Data Science Batch-10
Name : Asif Khan

# function syntax
```python
def function_name(parameter1,parameter2,...):
  funtion_body

```

In [5]:
def info():
  print("NED univserity")
  print("City: Karachi")
  print("Course : Data Science Batch-10")
  print("Name : Muhammad Qasim")

In [6]:
info()

NED univserity
City: Karachi
Course : Data Science Batch-10
Name : Muhammad Qasim

In [9]:
def info()->None:
  """Hello Student"""

  print("NED univserity")
  print("City: Karachi")
  print("Course : Data Science Batch-10")
  print("Name : Muhammad Qasim")

In [10]:
info()

NED univserity
City: Karachi
Course : Data Science Batch-10
Name : Muhammad Qasim

In [11]:
def info()->None: # function declairation
  print("NED univserity") # function body start, instruction 1
  print("City: Lahore") # instruction 2
  print("Course : Data Science Batch-10") # instrunction 3
  print("Name : Muhammad Qasim") # instruction 4, end body

In [12]:
info() # Calling Function more than one time.
info()
info()

NED univserity
City: Lahore
Course : Data Science Batch-10
Name : Muhammad Qasim
NED univserity
City: Lahore
Course : Data Science Batch-10
Name : Muhammad Qasim
NED univserity
City: Lahore
Course : Data Science Batch-10
Name : Muhammad Qasim

# Return Function and None-Return Function
## Return Function
* when we call this function it will return object(str,  int, list)
* we can assign this value to variable

# None-Return function
* exclude above two properties

In [13]:
my_var = print("Pakistan") # Non-return Function
print(my_var) # Print variable value
print(my_var) # Print variable value

Pakistan
None
None

In [14]:
my_var = len("Pakistan") # Return Function
print(my_var) # Print variable value
print(my_var) # Print variable value

8
8

In [15]:
my_var = id("Pakistan") # Return Function
print(my_var) # Print variable value
print(my_var) # Print variable value

139360489868144
139360489868144

In [16]:
my_var = info() # Non-return Function
print(my_var) # Print variable value
print(my_var) # Print variable value

NED univserity
City: Lahore
Course : Data Science Batch-10
Name : Muhammad Qasim
None
None

# required parameters/Arguments functions
* parameters: in function body/declairation
* arguments: calling time

```
# This is formatted as code
```

In [18]:
def add_two_numbers(num1, num2):
  return num1 + num1 # This function is calling one parameters two times.

In [19]:
add_two_numbers (1, 11)

2

In [20]:
def add_two_numbers(num1, num2):
  return num1 + num2 # This function is calling parameters as define.
add_two_numbers(1,11)

12

In [22]:
print(add_two_numbers(6,5))

11

In [23]:
add_two_numbers(20)

TypeError: add_two_numbers() missing 1 required positional argument: 'num2'

In [24]:
def add_two_numners_new(num1 : int, num2 : int) -> int: # Parameters num1 & num2
  return num1 + num2

In [25]:
add_two_numbers()
add_two_numbers_new()

NameError: name 'add_two_numbers_new' is not defined