In [1]:
a = 5
print(a)

5

# Python Collection Data Types

Python List

In [4]:
names = []
print(names)
print(type(names))

[]
<class 'list'>

In [28]:
names = ()
print(names)
print(type(names))

()
<class 'tuple'>

In [14]:
names = ["NED", "Week_3", "Class_6"]
print(names)

['NED', 'Week_3', 'Class_6']

In [ ]:
# (Lists) functions are heterogenous meaning they can store more than one different data types.
# (Lists) have NO Fixed size unlike arrays.

In [16]:
names

['NED', 'Week_3', 'Class_6']

In [18]:
names = ['Hello', 'world']
print(names)

['Hello', 'world']

In [26]:
names

['NED', 'Week_3', 'Class_6']

In [44]:
names = ["NED", "Week_3", "Class_6"]
print(len(names))
print(names)

3
['NED', 'Week_3', 'Class_6']

In [54]:
names = ["NED","Week_3","Class_6",10,12,13,13.5678,90.1234,False,True,True]
print(names)
print(len(names))

['NED', 'Week_3', 'Class_6', 10, 12, 13, 13.5678, 90.1234, False, True, True]
11

In [42]:
names

['NED', 'Week_3', 'Class_6,10,12,13,13.5678,90.1234,False,True,True']

In [52]:
names = ["NED","Week_3","Class_6",10,12,13,13.5678,90.1234,False,True,True]
print(len(names))

11

In [56]:
len(names)

11

In [60]:
print(dir(names))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [70]:
biodata = [] # empty List
print(biodata)
biodata.append("NED University")
biodata.append("Batch")
biodata.append(10)
biodata.append("SAP Group")
print(biodata)

[]
['NED University', 'Batch', 10, 'SAP Group']

In [72]:
names.append("SAJID")
print(names)
print(len(names))

['NED', 'Week_3', 'Class_6', 10, 12, 13, 13.5678, 90.1234, False, True, True, 'SAJID']
12

In [74]:
# Nested Lists
# Demisionality of the lists increases only when a list has another list within it.
print(biodata)
names.append(["Arochem","Arochem Enterprises"])

['NED University', 'Batch', 10, 'SAP Group']

In [76]:
print(biodata)

['NED University', 'Batch', 10, 'SAP Group']

In [84]:
unis = [["NUST", "AIR", "FAST", "ISL"], ["Peshawar University", "Islamia College"]], [["NED", "KU", "Sir Syed"], ["DHA Suffa", "Szabist"]]
print(unis)

([['NUST', 'AIR', 'FAST', 'ISL'], ['Peshawar University', 'Islamia College']], [['NED', 'KU', 'Sir Syed'], ['DHA Suffa', 'Szabist']])

In [88]:
print(len(unis))

2

In [92]:
unis = [["NUST", "AIR", "FAST", "ISL"], ["Peshawar University", "Islamia College"]], [["NED", "KU", "Sir Syed"], ["DHA Suffa", "Szabist"]], [[["Hello", "World"]]]
print(unis)

([['NUST', 'AIR', 'FAST', 'ISL'], ['Peshawar University', 'Islamia College']], [['NED', 'KU', 'Sir Syed'], ['DHA Suffa', 'Szabist']], [[['Hello', 'World']]])

In [94]:
print(len(unis))

3

In [96]:
unis = [["NUST", "AIR", "FAST", "ISL"], ["Peshawar University", "Islamia College"]], [["NED", "KU", "Sir Syed"], ["DHA Suffa", "Szabist"]], [[["Hello", "World"]]], [[[["Panasonic" "HP", "Lenovo"]]]]
print(unis)

([['NUST', 'AIR', 'FAST', 'ISL'], ['Peshawar University', 'Islamia College']], [['NED', 'KU', 'Sir Syed'], ['DHA Suffa', 'Szabist']], [[['Hello', 'World']]], [[[['PanasonicHP', 'Lenovo']]]])

In [98]:
print(len(unis))

4

In [100]:
# Count Function show the repeatition of variable in the data. Like "True" is used (2) times.
names.count(True)

2

In [102]:
print(names)

['NED', 'Week_3', 'Class_6', 10, 12, 13, 13.5678, 90.1234, False, True, True, 'SAJID', ['Arochem', 'Arochem Enterprises']]

In [108]:
names.count(False)

1

In [111]:
names.count(10)

1

In [113]:
print(names)

['NED', 'Week_3', 'Class_6', 10, 12, 13, 13.5678, 90.1234, False, True, True, 'SAJID', ['Arochem', 'Arochem Enterprises']]

In [ ]:
# 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'
# These are the properties of Lists.

In [119]:
names.extend(unis)

In [133]:
# Extend Function adds Two Lists Together
numbers = [1,22,3,4,5,6,7,8,9]
fruits = ["Apple", "Mango", "Cherry"]
fruits.extend(numbers) # Old fruits list is now updated.
print(fruits)

['Apple', 'Mango', 'Cherry', 1, 22, 3, 4, 5, 6, 7, 8, 9]

In [123]:
print(numbers)

[1, 22, 3, 4, 5, 6, 7, 8, 9]

In [129]:
print(fruits)

['Apple', 'Mango', 'Cherry', 1, 22, 3, 4, 5, 6, 7, 8, 9]

In [131]:
fruits.extend(numbers) # Old fruits list is now updated.
print(fruits)

['Apple', 'Mango', 'Cherry', 1, 22, 3, 4, 5, 6, 7, 8, 9, 1, 22, 3, 4, 5, 6, 7, 8, 9]

In [139]:
# POP function to remove the last value from the list
fruits.pop()
print(fruits)

['Apple', 'Mango', 'Cherry', 1, 22, 3, 4, 5, 6]

In [143]:
#  Remove function to remove the value from the list, Here we will try to remove the Cherry.
fruits.remove("Cherry")
print(fruits)

['Apple', 'Mango', 1, 22, 3, 4, 5, 6]

In [145]:
# names_new = names.copy()
numbers_new = numbers.copy()
print(numbers)

[1, 22, 3, 4, 5, 6, 7, 8, 9]

In [147]:
# Reverse Function to reverse the values in the list. Like I started from 1, 22 & so on. After reverse It shows the last number first & so on.
numbers.reverse()
print(numbers)

[9, 8, 7, 6, 5, 4, 3, 22, 1]

In [149]:
# Sort function to sort the values in Ascending orders. Like, 1, 2, 3, 4 & so on.
number_1 = [1,5,6,8,7,5]
number_1.sort()
print(number_1)

[1, 5, 5, 6, 7, 8]

In [151]:
# Sort reverse = True function to sort the values in desending orders. Like, 4,3,2,1 so on.
number_1 = [1,5,6,8,7,5]
number_1.sort(reverse = True)
print(number_1)

[8, 7, 6, 5, 5, 1]