# Loops

* For Loop
* While Loop

In [ ]:
number_range = range(0,10)

# i = iterator

In [14]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0,10):
    print(i+10) # Tab (Spacebar) in necessary when colon is used in syntax.

10
11
12
13
14
15
16
17
18
19

In [24]:
for i in range(0,10):
    print(i+10)
    print(i+20)
print("last-value: ",i)

10
20
11
21
12
22
13
23
14
24
15
25
16
26
17
27
18
28
19
29
last-value:  9

In [28]:
fruits = ["mango", "apple", "strawberry"]
for fruit in fruits:
    print(fruit.upper()) # Upper function use to capitalized the letters.

MANGO
APPLE
STRAWBERRY

In [43]:
#            0        1          2
# This function is use when we need to capitilized the values. 
fruits = ["mango", "apple", "strawberry"]
index = 0
for fruit in fruits:
    fruits [index]=fruit.upper()
    index +=1
print(fruits)

['MANGO', 'APPLE', 'STRAWBERRY']

In [40]:
# Write a program which will taka a interger input and print the multiplication table. - ASSIGNEMENT

In [57]:
number = int(input("Enter Multiplication Table"))
number = int(input("Enter range"))
    for i in range(1,11)
    print(f"{i} x {number} =" , i*number)

IndentationError: unexpected indent (2703718125.py, line 3)

In [59]:
# Get the number from the user
number = int(input("Enter the number to generate the multiplication table: "))

# Get the range for the table
table_range = int(input("Enter the range for the table (e.g., 10 for 1-10): "))

# Generate and print the table
print(f"\nMultiplication Table for {number}:\n")
for i in range(1, table_range + 1):
 print(f"{number} x {i} = {number * i}")

Enter the number to generate the multiplication table:  2
Enter the range for the table (e.g., 10 for 1-10):  10

Multiplication Table for 2:

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20